@model IEnumerable<Domain.Models.Customer>
@using Localization.CloudERP.Modules.Sale;
@using Localization.CloudERP.Modules.Miscellaneous;
@using Localization.CloudERP.Common;
@{
    ViewBag.Title = Sale.Finilize;
}

<!-- Tables Sorting-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

@using (Html.BeginForm("SaleConfirm", "SaleCart", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.Raw(Sale.SaleDetails)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        <!-- Description -->
        <div class="form-group">
            <label class="control-label col-md-2">@Html.Raw(Sale.SaleDescription)</label>
            <div class="col-md-12">
                <input type="text" class="form-control" id="Description" name="Description" required />
            </div>
        </div>

        <!-- IsPayment -->
        <div class="form-group">
            <label class="control-label col-md-4">@Html.Raw(Sale.IsSalePaymentPaid)</label>
            <div class="col-md-12">
                <input type="checkbox" name="IsPayment" />
            </div>
        </div>

        <input type="hidden" id="CustomerID" name="CustomerID" value="" />

        <div class="card card-default col-md-12">
            <div class="card-header">
                <input type="submit" style="float:right;" value="@Sale.FinilizeSale" class="btn btn-success" />
            </div>
            <div class="card-body">
                <div class="table-responsive bootgrid">
                    <table class="table table-striped table-hover" id="dataTable">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th>@Html.Raw(Miscellaneous.CustomerFullName)</th>
                                <th>@Html.Raw(Localization.CloudERP.Modules.User.User.ContactNo)</th>
                                <th>@Html.Raw(Localization.CloudERP.Modules.Supplier.Supplier.Address)</th>
                                <th>@Html.Raw(Common.Actions)</th>
                            </tr>
                        </thead>
                        <tbody id="customerList">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Customername)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerContact)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerAddress)</td>
                                    <td>
                                        <input type="checkbox" class="customer-checkbox" value="@item.CustomerID" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 3 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });

        $('.customer-checkbox').on('change', function () {
            $('.customer-checkbox').not(this).prop('checked', false);

            if ($(this).is(':checked')) {
                $('#CustomerID').val($(this).val());
            } else {
                $('#CustomerID').val('');
            }
        });
    });
</script>
