@{
    ViewBag.Title = Resources.CompanyRegistration.AddNewCompany.ToString();
}

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Registration))
        <p class="text-danger">@ViewBag.Message</p>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("RegistrationForm", "CompanyRegistration", FormMethod.Post, new { @id = "example-form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <h4>
                    @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.UserProfile))
                    <br>
                    <small>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.EnterUserDetails))</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="userName">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.UserName)) *</label>
                            <input class="form-control required" id="UserName" name="UserName" type="text">
                        </div>
                    </div>
                    <p>(*) @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Mandatory))</p>
                </fieldset>
                <h4>
                    @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.PersonalProfile))
                    <br>
                    <small>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.EnterFocalPersonDetails))</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.EmployeeName)) *</label>
                            <input class="form-control required" id="EName" name="EName" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="surname">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.ContactNo)) *</label>
                            <input class="form-control required" id="EContactNo" name="EContactNo" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="email">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Email)) *</label>
                            <input class="form-control required" id="EEmail" name="EEmail" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.CityIndex))</label>
                            <input class="form-control required" id="ECNIC" name="ECNIC" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Designation))</label>
                            <input class="form-control required" id="EDesignation" name="EDesignation" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.BasicSalary))</label>
                            <input class="form-control required" id="EMonthlySalary" name="EMonthlySalary" type="number">
                        </div>
                        <div class="col-md-12">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Address))</label>
                            <input class="form-control required" id="EAddress" name="EAddress" type="text">
                        </div>
                    </div>
                    <p>(*) @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Mandatory))</p>
                </fieldset>
                <h4>
                    @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.CompanyProfile))
                    <br>
                    <small>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.EnterCompanyDetails))</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Company)) *</label>
                            <input for="name" class="form-control required" id="CName" name="CName" type="text">
                        </div>
                        <div class="col-md-6">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.BranchTitle)) *</label>
                            <input class="form-control required" id="BranchName" name="BranchName">
                        </div>
                        <div class="col-md-6">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.BranchContact)) *</label>
                            <input class="form-control required" id="BranchContact" name="BranchContact" type="text">
                        </div>
                        <div class="col-md-6">
                            <label>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.BranchAddress))</label>
                            <input class="form-control required" id="BranchAddress" name="BranchAddress" type="text">
                        </div>
                    </div>
                    <p>(*) @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Mandatory))</p>
                </fieldset>
                <h4>
                    @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.Finish))
                    <br>
                    <small>@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.PleaseCheckBeforeSubmission))</small>
                </h4>
                <fieldset>
                    <p class="lead">@Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyRegistration.OneLastCheck))</p>
                    <input type="submit" value="@Resources.CompanyRegistration.SubmitRegistration" class="btn btn-outline-success" />
                </fieldset>
            </div>
        }
    </div>
</div>