@model CloudERP.Models.RegistrationMV
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = Localization.CloudERP.Company.AddNewCompany;
}

<script>
    window.Culture = '@HttpContextAccessor.HttpContext?.Session.GetString("Culture")';
</script>
<script src="~/js/CustomScripts/VoiceRecognition.js"></script>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.Raw(Localization.CloudERP.Company.Registration)
        <button id="voiceRecognitionButton" class="btn btn-link" type="button">
            <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
        </button>
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("RegistrationForm", "CompanyRegistration", FormMethod.Post, new { @id = "example-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.BranchContact, new { @id = "HiddenBranchContact" })
            @Html.HiddenFor(model => model.EmployeeContactNo, new { @id = "HiddenEmployeeContactNo" })

            <div>
                <h4>
                    @Html.Raw(Localization.CloudERP.Company.UserProfile)
                    <br>
                    <small>@Html.Raw(Localization.CloudERP.Company.EnterUserDetails)</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="userName">@Html.Raw(Localization.CloudERP.Company.UserName) *</label>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required", @id = "UserName" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>
                    <p>(*) @Html.Raw(Localization.CloudERP.Company.Mandatory)</p>
                </fieldset>
                <h4>
                    @Html.Raw(Localization.CloudERP.Company.PersonalProfile)
                    <br>
                    <small>@Html.Raw(Localization.CloudERP.Company.EnterFocalPersonDetails)</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">@Html.Raw(Localization.CloudERP.User.FullName) *</label>
                            @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control required", @id = "EName" })
                            @Html.ValidationMessageFor(model => model.EmployeeName)
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="EmployeeContactNo" class="form-label">
                                    @Html.Raw(Localization.CloudERP.User.ContactNo) *
                                </label>
                                <div class="input-group">
                                    <input id="EmployeeContactNo" name="EmployeeContactNo" type="tel" class="form-control required" />
                                    @Html.ValidationMessageFor(model => model.EmployeeContactNo, "", new { @class = "mb-0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="email">@Html.Raw(Localization.CloudERP.Company.Email) *</label>
                            @Html.TextBoxFor(model => model.EmployeeEmail, new { @class = "form-control required", @id = "EEmail" })
                            @Html.ValidationMessageFor(model => model.EmployeeEmail)
                        </div>
                        <div class="col-md-4">
                            <label>TIN *</label>
                            @Html.TextBoxFor(model => model.EmployeeTIN, new { @class = "form-control required", @id = "ECNIC" })
                            @Html.ValidationMessageFor(model => model.EmployeeTIN)
                        </div>
                        <div class="col-md-4">
                            <label>@Html.Raw(Localization.CloudERP.Company.Designation) *</label>
                            @Html.TextBoxFor(model => model.EmployeeDesignation, new { @class = "form-control required", @id = "EDesignation" })
                            @Html.ValidationMessageFor(model => model.EmployeeDesignation)
                        </div>
                        <div class="col-md-4">
                            <label>@Html.Raw(Localization.CloudERP.Company.BasicSalary) *</label>
                            @Html.TextBoxFor(model => model.EmployeeMonthlySalary, new { @class = "form-control required", @id = "EMonthlySalary", @type = "number" })
                            @Html.ValidationMessageFor(model => model.EmployeeMonthlySalary)
                        </div>
                        <div class="col-md-12">
                            <label>@Html.Raw(Localization.CloudERP.Company.Address) *</label>
                            @Html.TextBoxFor(model => model.EmployeeAddress, new { @class = "form-control required", @id = "EAddress" })
                            @Html.ValidationMessageFor(model => model.EmployeeAddress)
                        </div>
                    </div>
                    <p>(*) @Html.Raw(Localization.CloudERP.Company.Mandatory)</p>
                </fieldset>
                <h4>
                    @Html.Raw(Localization.CloudERP.Company.CompanyProfile)
                    <br>
                    <small>@Html.Raw(Localization.CloudERP.Company.EnterCompanyDetails)</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">@Html.Raw(Localization.CloudERP.Company.CompanyTitle) *</label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control required", @id = "CName" })
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                        <div class="col-md-6">
                            <label for="name">@Html.Raw(Localization.CloudERP.Company.BranchTitle) *</label>
                            @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control required", @id = "BranchName" })
                            @Html.ValidationMessageFor(model => model.BranchName)
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="BranchContact" class="form-label">
                                    @Html.Raw(Localization.CloudERP.Company.BranchContact) *
                                </label>
                                <div class="input-group">
                                    <input id="BranchContact" name="BranchContact" type="tel" class="form-control required" />
                                    @Html.ValidationMessageFor(model => model.BranchContact, "", new { @class = "mb-0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>@Html.Raw(Localization.CloudERP.Company.BranchAddress) *</label>
                            @Html.TextBoxFor(model => model.BranchAddress, new { @class = "form-control required", @id = "BranchAddress" })
                            @Html.ValidationMessageFor(model => model.BranchAddress)
                        </div>
                    </div>
                    <p>(*) @Html.Raw(Localization.CloudERP.Company.Mandatory)</p>
                </fieldset>
                <h4>
                    @Html.Raw(Localization.CloudERP.Company.Finish)
                    <br>
                    <small>@Html.Raw(Localization.CloudERP.Company.PleaseCheckBeforeSubmission)</small>
                </h4>
                <fieldset>
                    <p class="lead">@Html.Raw(Localization.CloudERP.Company.OneLastCheck)</p>
                    <input type="submit" value="@Localization.CloudERP.Company.SubmitRegistration" class="btn btn-outline-success" />
                </fieldset>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var employeeContactInput = document.querySelector("#EmployeeContactNo");
            var hiddenEmployeeContactInput = document.querySelector("#HiddenEmployeeContactNo");

            if (employeeContactInput) {
                var employeeContactIti = window.intlTelInput(employeeContactInput, {
                    initialCountry: "auto",
                    geoIpLookup: function (callback) {
                        fetch('https://ipinfo.io/json', { cache: 'reload' })
                            .then(response => response.json())
                            .then(data => callback(data.country))
                            .catch(() => callback('us'));
                    },
                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js"
                });

                console.log("Employee Contact initialized with country: ", employeeContactIti.getSelectedCountryData());

                employeeContactInput.addEventListener("blur", function () {
                    var fullNumber = employeeContactIti.getNumber();
                    console.log("Full number captured for EmployeeContactNo: ", fullNumber);
                    hiddenEmployeeContactInput.value = fullNumber;
                });
            }

            var branchContactInput = document.querySelector("#BranchContact");
            var hiddenBranchContactInput = document.querySelector("#HiddenBranchContact");

            if (branchContactInput) {
                var branchContactIti = window.intlTelInput(branchContactInput, {
                    initialCountry: "auto",
                    geoIpLookup: function (callback) {
                        fetch('https://ipinfo.io/json', { cache: 'reload' })
                            .then(response => response.json())
                            .then(data => callback(data.country))
                            .catch(() => callback('us'));
                    },
                    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js"
                });

                console.log("Branch Contact initialized with country: ", branchContactIti.getSelectedCountryData());

                branchContactInput.addEventListener("blur", function () {
                    var fullNumber = branchContactIti.getNumber();
                    console.log("Full number captured for BranchContact: ", fullNumber);
                    hiddenBranchContactInput.value = fullNumber;
                });
            }
        }, 100);
    });

</script>