@{
    DateTime currentDate = DateTime.Now;
    string currentYear = currentDate.ToString("yyyy");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>@ViewBag.Title</title>
    <!-- =============== VENDOR STYLES ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css" />
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Content/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/Content/Template/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/app.css" id="maincss">
    <!-- Bootgrid-->
    <link rel="stylesheet" href="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.css">
    <!-- Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" />
    <!-- Themes-->
    <link rel="stylesheet" href="~/Scripts/Theme/dark-theme.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shepherd.js/8.0.1/css/shepherd.css">
</head>
<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper" id="step9">
            <!-- START Top Navbar-->
            <nav class="navbar topnavbar">
                <!-- START navbar header-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <div class="brand-logo">
                            @{
                                string logo = string.Empty;
                                if (string.IsNullOrEmpty(Convert.ToString(Session["CLogo"])))
                                {
                                    logo = "~/Content/CompanyLogo/erp-logo.png";
                                }
                                else
                                {
                                    logo = Convert.ToString(Session["CLogo"]);
                                }
                            }
                            <img class="img-fluid" src="@Url.Content(logo)" alt="App Logo" width="30" height="30">
                        </div>
                        <div class="brand-logo-collapsed">
                            <img class="img-fluid" src="@Url.Content(logo)" alt="App Logo" width="30" height="30">
                        </div>
                    </a>
                </div>
                <!-- END navbar header-->
                <!-- START Left navbar-->
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item" id="step1">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <em class="fa fa-navicon"></em>
                        </a>
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <em class="fa fa-navicon"></em>
                        </a>
                    </li>
                    <!-- START User avatar toggle-->
                    <li class="nav-item" id="step2">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link" id="user-block-toggle" href="#user-block" data-toggle="collapse">
                            <em class="icon-user"></em>
                        </a>
                    </li>
                    <!-- END User avatar toggle-->
                    <!-- START lock screen-->
                    <li class="nav-item" id="step3">
                        <a class="nav-link" href="@Url.Action("Logout", "Home")" title="Lock screen">
                            <em class="icon-lock"></em>
                        </a>
                    </li>
                    <!-- END lock screen-->
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <ul class="navbar-nav flex-row">
                    <!-- START Loading-->
                    <li class="nav-item" id="step4">
                        <div style="display:none;">
                            <img src="~/Content/Template/img/loading.gif" alt="Loading..." />
                        </div>
                    </li>
                    <!-- END Loading-->
                    <!-- START Dark theme-->
                    <li class="nav-item" id="step4">
                        <div class="nav-link container">
                            <i class="fas fa-moon"></i>
                        </div>
                    </li>
                    <!-- END Dark theme-->
                    <!-- START Fullscreen Mode-->
                    <li class="nav-item" id="step5">
                        <div class="nav-link container">
                            <i class="bi bi-fullscreen" id="fullscreenButton"></i>
                        </div>
                    </li>
                    <!-- END Fullscreen Mode-->
                    <!-- START Language list -->
                    <li class="nav-item dropdown" id="step6">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                            @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { @id = "languageForm" }))
                            {
                                <div class="dropdown-item">
                                    <select name="culture" class="custom-select" onchange="document.getElementById('languageForm').submit()">
                                        <option value="en-US" @(Session["Culture"]?.ToString() == "en-US" ? "selected" : "")>English</option>
                                        <option value="ru-RU" @(Session["Culture"]?.ToString() == "ru-RU" ? "selected" : "")>Русский</option>
                                        <option value="uk-UA" @(Session["Culture"]?.ToString() == "uk-UA" ? "selected" : "")>Українська</option>
                                    </select>
                                </div>
                            }
                        </div>
                    </li>
                    <li class="nav-item" id="step7">
                        <div class="nav-link container">
                            <i class="bi bi-person-walking" onclick="startTour()"></i>
                        </div>
                    </li>
                    <!-- END Language list -->
                </ul>
                <!-- END Right Navbar-->
            </nav>
            <!-- END Top Navbar-->
        </header>
        <!-- sidebar-->
        <aside class="aside-container">
            <!-- START Sidebar (left)-->
            <div class="aside-inner">
                <nav class="sidebar" data-sidebar-anyclick-close="">
                    <!-- START sidebar nav-->
                    <ul class="sidebar-nav" id="step8">
                        <!-- START user info-->
                        <li class="has-user-block">
                            <div class="collapse" id="user-block">
                                <div class="item user-block">
                                    <!-- User picture-->
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            @{
                                                string userImg = string.Empty;
                                                if (string.IsNullOrEmpty(Convert.ToString(Session["EPhoto"])))
                                                {
                                                    userImg = "~/Content/Template/img/user-default-img.png";
                                                }
                                                else
                                                {
                                                    userImg = Convert.ToString(Session["EPhoto"]);
                                                }
                                            }
                                            <img class="img-thumbnail rounded-circle" src="@Url.Content(userImg)" alt="Avatar" width="60" height="60">
                                            <div class="circle bg-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <!-- Name and Job-->
                                    <div class="user-block-info">
                                        <span class="user-block-name">@Resources.Miscellaneous.Hello.ToString() @Session["UserName"]</span>
                                        <span class="user-block-role">@Session["Designation"]</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END user info-->
                        @{
                            if (Session["UserTypeID"] != null)
                            {
                                var userType = Convert.ToInt32(Convert.ToString(Session["UserTypeID"]));
                                if (Session["BranchTypeID"] != null)
                                {
                                    <!-- Iterates over all sidebar items-->

                                    @*Configuration*@
                                    @*Admin*@
                                    if (userType == 1)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Guide.ToString()</span>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("AdminMenuGuide", "Guide")" title="@Resources.Miscellaneous.AdminGuide.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-info-circle mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AdminGuide))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Task")" title="@Resources.Miscellaneous.TasksList.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-list-task mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.TasksList))</span>
                                            </a>
                                        </li>

                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.UserSetting.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "UserType")" title="@Resources.Miscellaneous.UserTypes.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-person-fill-gear mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.UserTypes))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "User")" title="@Resources.Miscellaneous.Users.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-person-fill mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Users))</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Companies.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Company")" title="@Resources.Miscellaneous.Company.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-building mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Company))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("RegistrationForm", "CompanyRegistration")" title="@Resources.Miscellaneous.CompanyRegistration.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-building-add mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.CompanyRegistration))</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.AccountSettings.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "AccountHead")" title="@Resources.Miscellaneous.AccountHeads.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-lightbulb-fill mr-1 mb-2"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AccountHeads))</span>
                                            </a>
                                        </li>
                                    }
                                    @*User*@
                                    if (userType == 2)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.HEADER">@Resources.Miscellaneous.Home.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Home")" title="@Resources.Miscellaneous.DashboardTitle.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-speedometer2 h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.DashboardTitle))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Forecasting")" title="@Resources.Miscellaneous.Forecasting.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-clipboard-data mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Forecasting))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Task")" title="@Resources.Miscellaneous.TasksList.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-list-task mr-1"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.TasksList))</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.SubBranchs.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Branch")" title="@Resources.Miscellaneous.Branches.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-diagram-2 h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Branches))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("SubBranchUser", "User")" title="@Resources.Miscellaneous.Users.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-person-fill h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Users))</span>
                                            </a>
                                        </li>

                                        var branchTypeID = Convert.ToInt32(Convert.ToString(Session["BranchTypeID"]));
                                        @*Main Branch*@
                                        if (branchTypeID == 1)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "EmployeeStatistics")" title="@Resources.Miscellaneous.EmployeeStatistics.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-bar-chart-fill mr-1"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.EmployeeStatistics))</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Guide.ToString()</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("MainBranchEmployeeGuide", "Guide")" title="@Resources.Miscellaneous.MainEmployeeGuide.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-info-circle h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.MainEmployeeGuide))</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Branchs.ToString()</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Create", "Branch")" title="@Resources.Miscellaneous.NewBranch.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-diagram-2 h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewBranch))</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Employees.ToString()</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Employees", "CompanyEmployee")" title="@Resources.Miscellaneous.EmployeeRegistration.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-person-add h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.EmployeeRegistration))</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="@Resources.Miscellaneous.Payroll.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-coin h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Payroll))</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="@Resources.Miscellaneous.PaidSalariesHistory.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-cash-stack h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.PaidSalariesHistory))</span>
                                                </a>
                                            </li>
                                        }
                                        if (branchTypeID > 1)
                                        {
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Guide.ToString()</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeGuide", "Guide")" title="@Resources.Miscellaneous.MainEmployeeGuide.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-info-circle h4 mb-0"></em>
                                                    <span class="align-middle">@Resources.Miscellaneous.MainEmployeeGuide.ToString()</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Employees.ToString()</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Employee", "BranchEmployee")" title="@Resources.Miscellaneous.EmployeeRegistration.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-person-add h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.EmployeeRegistration))</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="@Resources.Miscellaneous.Payroll.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-coin h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Payroll))</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="@Resources.Miscellaneous.PaidSalariesHistory.ToString()" class="d-flex align-items-center">
                                                    <em class="bi bi-cash-stack h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.PaidSalariesHistory))</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Stocks.ToString()</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Category")" title="@Resources.Miscellaneous.StockCategories.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-inboxes-fill h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.StockCategories))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Stock")" title="@Resources.Miscellaneous.StockDetails.ToString()" class="d-flex align-items-center">
                                                <em class="bi bi-boxes h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.StockDetails))</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ProductQuality", "Stock")" title="Product Quality" class="d-flex align-items-center">
                                                <em class="bi bi-boxes h4 mb-0"></em>
                                                <span class="align-middle">Product Quality</span>
                                            </a>
                                        </li>
                                    }
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.AccountSettings.ToString()</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountControl")" title="@Resources.Miscellaneous.AccountControls.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-gear-wide h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AccountControls))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountSubControl")" title="@Resources.Miscellaneous.AccountSubControls.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-gear-wide-connected h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AccountSubControls))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountSetting")" title="@Resources.Miscellaneous.AccountFlow.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-person-lines-fill h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AccountFlow))</span>
                                        </a>
                                    </li>
                                }

                                if (userType == 1)
                                {
                                    <li class="nav-heading ">
                                        <span>@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.FinancialYear))</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "FinancialYear")" title="@Resources.Miscellaneous.FinancialYear.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.FinancialYear))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Create", "FinancialYear")" title="@Resources.Miscellaneous.NewFinancialYear.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cash-coin h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewFinancialYear))</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 2)
                                {
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.FinancialYear.ToString()</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "FinancialYearView")" title="@Resources.Miscellaneous.AllFinancialYears.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-calendar3 h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AllFinancialYears))</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Customers.ToString()</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Customer")" title="@Resources.Miscellaneous.NewCustomer.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-person-fill-add h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewCustomer))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Customer")" title="@Resources.Miscellaneous.BranchCustomers.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.BranchCustomers))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SubBranchCustomer", "Customer")" title="@Resources.Miscellaneous.SubBranchCustomersNavlink.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart-check h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.SubBranchCustomersNavlink))</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Sales.ToString()</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("NewSale", "SaleCart")" title="@Resources.Miscellaneous.NewSale.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-bag-plus h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewSale))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("RemainingPaymentList", "SalePayment")" title="@Resources.Miscellaneous.SalePendingPayment.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-paypal h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.SalePendingPayment))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CustomSalesHistory", "SalePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="@Resources.Miscellaneous.AllSales.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-card-checklist h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AllSales))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FindSale", "SaleReturn")" title="@Resources.Miscellaneous.SaleReturn.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-bag-dash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.SaleReturn))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AllReturnSalesPendingAmount", "SalePaymentReturn")" title="@Resources.Miscellaneous.ReturnSalesPendingAmount.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-wallet-fill h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.ReturnSalesPendingAmount))</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AllCustomers", "Customer")" title="@Resources.Miscellaneous.AllCustomers.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AllCustomers))</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Suppliers.ToString()</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Supplier")" title="@Resources.Miscellaneous.NewSupplier.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-umbrella h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewSupplier))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Supplier")" title="@Resources.Miscellaneous.BranchSuppliers.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-truck h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.BranchSuppliers))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SubBranchSupplier", "Supplier")" title="@Resources.Miscellaneous.SubBranchSuppliers.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-truck-front h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.SubBranchSuppliers))</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Purchases.ToString()</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("NewPurchase", "PurchaseCart")" title="@Resources.Miscellaneous.NewPurchase.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart-plus h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.NewPurchase))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("RemainingPaymentList", "PurchasePayment")" title="@Resources.Miscellaneous.PurchasePendingPayment.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.PurchasePendingPayment))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CustomPurchasesHistory", "PurchasePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="@Resources.Miscellaneous.AllPurchases.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AllPurchases))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FindPurchase", "PurchaseReturn")" title="@Resources.Miscellaneous.PurchasesReturn.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-cart-dash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.PurchasesReturn))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AllPurchasesPendingPayment", "PurchasePaymentReturn")" title="@Resources.Miscellaneous.ReturnPaymentPending.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.ReturnPaymentPending))</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.Transactions.ToString()</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GeneralTransaction", "GeneralTransaction", new { transaction = new CloudERP.Models.GeneralTransactionMV() { CreditAccountControlID = 0, DebitAccountControlID = 0, TransferAmount = 0 } })" title="@Resources.Miscellaneous.GeneralTransaction.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-briefcase h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.GeneralTransaction))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Journal", "GeneralTransaction")" title="@Resources.Miscellaneous.Journal.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-journal-bookmark h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Journal))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetLedger", "Ledger")" title="@Resources.Miscellaneous.AccountsLedger.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-book-half h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AccountsLedger))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetTrialBalance", "TrialBalance")" title="@Resources.Miscellaneous.TrialBalance.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.TrialBalance))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetIncomeStatement", "IncomeStatement")" title="@Resources.Miscellaneous.IncomeStatement.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-currency-exchange h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.IncomeStatement))</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetBalanceSheet", "BalanceSheet")" title="@Resources.Miscellaneous.BalanceSheet.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-file-earmark-spreadsheet h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.BalanceSheet))</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AllSuppliers", "Supplier")" title="@Resources.Miscellaneous.AllSuppliers.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-minecart-loaded h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.AllSuppliers))</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Resources.Miscellaneous.License.ToString()</span>
                                </li>
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AdminList", "Support")" title="@Resources.Miscellaneous.TicketList.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-hammer mr-1 mb-2"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.TicketList))</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Support", "Support")" title="@Resources.Miscellaneous.Support.ToString()" class="d-flex align-items-center">
                                            <em class="bi bi-hammer mr-1 mb-2"></em>
                                            <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.Support))</span>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("PrivacyPolicy", "Guide")" title="@Resources.Miscellaneous.PrivacyPolicy.ToString()" class="d-flex align-items-center">
                                        <em class="bi bi-sourceforge h4 mb-0"></em>
                                        <span class="align-middle">@Html.Raw(HttpUtility.HtmlDecode(Resources.Miscellaneous.PrivacyPolicy))</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <!-- END sidebar nav-->
                </nav>
            </div>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    <div>
                        @ViewBag.Title
                    </div>
                </div>
                <div>
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Page footer-->
        <footer class="footer-container">
            <span>&copy; @currentYear - Kuvaiev Inc</span>
        </footer>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>
    <!-- MODERNIZR-->
    <script src="~/Content/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/Content/Template/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Content/Template/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/Content/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Content/Template/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/Content/Template/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/Content/Template/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/Content/Template/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/Content/Template/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Bootgrid-->
    <script src="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.js"></script>
    <script src="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js"></script>
    <!-- JQUERY VALIDATE-->
    <script src="~/Content/Template/vendor/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Content/Template/vendor/jquery-validation/dist/additional-methods.js"></script>
    <!-- JQUERY STEPS-->
    <script src="~/Content/Template/vendor/jquery-steps/build/jquery.steps.js"></script>
    <!-- Datatables-->
    <script src="~/Content/Template/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/Template/vendor/jszip/dist/jszip.js"></script>
    <script src="~/Content/Template/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/Content/Template/vendor/pdfmake/build/vfs_fonts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/shepherd.js/8.0.1/js/shepherd.min.js"></script>
    <!-- Themes-->
    @*TODO: Dark Theme
        <script src="~/Scripts/Theme/theme-switcher.js"></script>*@
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Content/Template/js/app.js"></script>
    <script src="~/Scripts/CustomScripts/FullscreenMode.js"></script>
    <script src="~/Scripts/CustomScripts/Tour.js"></script>
    <script>
        $(document).ready(function () {
            document.addEventListener('DOMContentLoaded', () => {
                if (@(Session["StartTour"] != null && (bool)Session["StartTour"] ? "true" : "false")) {
                    startTour();
                    @Session["StartTour"] = false;
                }
            });

            $(document).on('click', 'a', function () {
                $('#loading').show();

                $(window).on('load', function () {
                    $('#loading').hide();
                });
            });
        }
    </script>
</body>
</html>