<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>@ViewBag.Title</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Content/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/Content/Template/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/Content/Template/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/app.css" id="maincss">
    <!-- Bootgrid-->
    <link rel="stylesheet" href="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.css">
    <!-- Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" />
    <!-- Themes-->
    <link rel="stylesheet" href="~/Scripts/Theme/dark-theme.css">
</head>

<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            <!-- START Top Navbar-->
            <nav class="navbar topnavbar">
                <!-- START navbar header-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <div class="brand-logo">
                            @{
                                string logo = string.Empty;
                                if (string.IsNullOrEmpty(Convert.ToString(Session["CLogo"])))
                                {
                                    logo = "~/Content/CompanyLogo/erp-logo.png";
                                }
                                else
                                {
                                    logo = Convert.ToString(Session["CLogo"]);
                                }
                            }
                            <img class="img-fluid" src="@Url.Content(logo)" alt="App Logo" width="30" height="30">
                        </div>
                        <div class="brand-logo-collapsed">
                            <img class="img-fluid" src="@Url.Content(logo)" alt="App Logo" width="30" height="30">
                        </div>
                    </a>
                </div>
                <!-- END navbar header-->
                <!-- START Left navbar-->
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <em class="fa fa-navicon"></em>
                        </a>
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <em class="fa fa-navicon"></em>
                        </a>
                    </li>
                    <!-- START User avatar toggle-->
                    <li class="nav-item d-none d-md-block">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link" id="user-block-toggle" href="#user-block" data-toggle="collapse">
                            <em class="icon-user"></em>
                        </a>
                    </li>
                    <!-- END User avatar toggle-->
                    <!-- START lock screen-->
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link" href="@Url.Action("Logout", "Home")" title="Lock screen">
                            <em class="icon-lock"></em>
                        </a>
                    </li>
                    <!-- END lock screen-->
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <ul class="navbar-nav flex-row">
                    <!-- START Dark theme-->
                    <li class="nav-item d-none d-md-block">
                        <div class="nav-link container">
                            <i class="fas fa-moon"></i>
                        </div>
                    </li>
                    <!-- END Dark theme-->
                    <!-- START Language list-->
                    <li class="nav-item d-none d-md-block">
                        <div class="nav-link container">
                            <div class="dropdown">
                                <em class="fas fa-language dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </em>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                                    <a class="dropdown-item" href="@Url.Action("SetCulture", "Home", new { culture = "en" })">
                                        <i class="flag-icon flag-icon-us"></i> English
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("SetCulture", "Home", new { culture = "ru" })">
                                        <i class="flag-icon flag-icon-ru"></i> Русский
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("SetCulture", "Home", new { culture = "uk" })">
                                        <i class="flag-icon flag-icon-fr"></i> Українська
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END Language list-->
                </ul>
                <!-- END Right Navbar-->
            </nav>
            <!-- END Top Navbar-->
        </header>
        <!-- sidebar-->
        <aside class="aside-container">
            <!-- START Sidebar (left)-->
            <div class="aside-inner">
                <nav class="sidebar" data-sidebar-anyclick-close="">
                    <!-- START sidebar nav-->
                    <ul class="sidebar-nav">
                        <!-- START user info-->
                        <li class="has-user-block">
                            <div class="collapse" id="user-block">
                                <div class="item user-block">
                                    <!-- User picture-->
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            @{
                                                string userImg = string.Empty;
                                                if (string.IsNullOrEmpty(Convert.ToString(Session["EPhoto"])))
                                                {
                                                    userImg = "~/Content/Template/img/user-default-img.png";
                                                }
                                                else
                                                {
                                                    userImg = Convert.ToString(Session["EPhoto"]);
                                                }
                                            }
                                            <img class="img-thumbnail rounded-circle" src="@Url.Content(userImg)" alt="Avatar" width="60" height="60">
                                            <div class="circle bg-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <!-- Name and Job-->
                                    <div class="user-block-info">
                                        <span class="user-block-name">@HttpContext.GetGlobalResourceObject("Resources", "Hello") Hello, @Session["UserName"]</span>
                                        <span class="user-block-role">@Session["Designation"]</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END user info-->
                        @{
                            if (Session["UserTypeID"] != null)
                            {
                                var userType = Convert.ToInt32(Convert.ToString(Session["UserTypeID"]));
                                if (Session["BranchTypeID"] != null)
                                {
                                    <!-- Iterates over all sidebar items-->

                                    @*Configuration*@
                                    @*Admin*@
                                    if (userType == 1)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">Guide</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("AdminMenuGuide", "Guide")" title="Admin Guide">
                                                <em class="bi bi-info-circle h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Admin Guide</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">User Setting</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "UserType")" title="User Types">
                                                <em class="bi bi-person-fill-gear h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">User Types</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "User")" title="Users">
                                                <em class="bi bi-person-fill h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Users</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">Companies</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "Company")" title="Companies">
                                                <em class="bi bi-building h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Companies</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("RegistrationForm", "CompanyRegistration")" title="Company Registration">
                                                <em class="bi bi-building-add h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Company Registration</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">Account Setting</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "AccountHead")" title="Account Heads">
                                                <em class="bi bi-lightbulb-fill"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Account Heads</span>
                                            </a>
                                        </li>
                                    }
                                    @*User*@
                                    if (userType == 2)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.HEADER">Home</span>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("Index", "Home")" title="Dashboard">
                                                <em class="bi bi-speedometer2 h4"></em>
                                                <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">Sub Branch`s</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "Branch")" title="Branches">
                                                <em class="bi bi-diagram-2 h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Branches</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("SubBranchUser", "User")" title="Sub Branch`s Users">
                                                <em class="bi bi-person-fill h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Users</span>
                                            </a>
                                        </li>

                                        var branchTypeID = Convert.ToInt32(Convert.ToString(Session["BranchTypeID"]));
                                        @*Main Branch*@
                                        if (branchTypeID == 1)
                                        {
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">Guide</span>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("MainBranchEmployeeGuide", "Guide")" title="Main Employee Guide">
                                                    <em class="bi bi-info-circle h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Main Employee Guide</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">Branch`s</span>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("Create", "Branch")" title="New Branch">
                                                    <em class="bi bi-diagram-2 h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">New Branch</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">Employee`s</span>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("Employees", "CompanyEmployee")" title="Employee Registration">
                                                    <em class="bi bi-person-add h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Employee Registration</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="Payroll">
                                                    <em class="bi bi-coin h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Payroll</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="Paid Salaries History">
                                                    <em class="bi bi-cash-stack h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Paid Salaries History</span>
                                                </a>
                                            </li>
                                        }
                                        if (branchTypeID > 1)
                                        {
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">Guide</span>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("EmployeeGuide", "Guide")" title="Employee Guide">
                                                    <em class="bi bi-info-circle h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Employee Guide</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">Employee`s</span>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("Employee", "BranchEmployee")" title="Employee Registration">
                                                    <em class="bi bi-person-add h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Employee Registration</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="Payroll">
                                                    <em class="bi bi-coin h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Payroll</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="Paid Salaries History">
                                                    <em class="bi bi-cash-stack h4"></em>
                                                    <span data-localize="sidebar.nav.element.ELEMENTS">Paid Salaries History</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">Stock`s</span>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "Category")" title="Stock Categories">
                                                <em class="bi bi-inboxes-fill h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Stock Categories</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="@Url.Action("Index", "Stock")" title="Stock Details">
                                                <em class="bi bi-boxes h4"></em>
                                                <span data-localize="sidebar.nav.element.ELEMENTS">Stock Details</span>
                                            </a>
                                        </li>
                                    }
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Account Setting`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "AccountControl")" title="Account Controls">
                                            <em class="bi bi-gear-wide h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Account Controls</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "AccountSubControl")" title="Account Sub Controls">
                                            <em class="bi bi-gear-wide-connected h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Account Sub Controls</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "AccountSetting")" title="Account Flow">
                                            <em class="bi bi-person-lines-fill h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Account Flow</span>
                                        </a>
                                    </li>
                                }

                                if (userType == 1)
                                {
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Financial Year Setting`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "FinancialYear")" title="Financial Year">
                                            <em class="bi bi-cash h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Financial Year</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Create", "FinancialYear")" title="New Financial Year">
                                            <em class="bi bi-cash-coin h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">New Financial Year</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 2)
                                {
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Financial Year`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "FinancialYearView")" title="All Financial Years">
                                            <em class="bi bi-calendar3 h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">All Financial Years</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">Customer`s</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li class="">
                                        <a href="@Url.Action("Create", "Customer")" title="New Customer">
                                            <em class="bi bi-person-fill-add h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">New Customer</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "Customer")" title="Branch Customers">
                                            <em class="bi bi-cart h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Branch Customers</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("SubBranchCustomer", "Customer")" title="Sub Branch Customers">
                                            <em class="bi bi-cart-check h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Sub Branch Customers</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Sale`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("NewSale", "SaleCart")" title="New Sale">
                                            <em class="bi bi-bag-plus h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">New Sale</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("RemainingPaymentList", "SalePayment")" title="Sale Pending Payment">
                                            <em class="bi bi-paypal h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Sale Pending Payment</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("CustomSalesHistory", "SalePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="All Sales">
                                            <em class="bi bi-card-checklist h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">All Sales</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("FindSale", "SaleReturn")" title="Sale Return">
                                            <em class="bi bi-bag-dash h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Sale Return</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("AllReturnSalesPendingAmount", "SalePaymentReturn")" title="Return Sales Pending Amount">
                                            <em class="bi bi-wallet-fill h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Return Sales Pending Amount</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li class="">
                                        <a href="@Url.Action("AllCustomers", "Customer")" title="All Customers">
                                            <em class="bi bi-cart h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">All Customers</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">Supplier`s</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li class="">
                                        <a href="@Url.Action("Create", "Supplier")" title="New Supplier">
                                            <em class="bi bi-umbrella h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">New Supplier</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Index", "Supplier")" title="Branch Suppliers">
                                            <em class="bi bi-truck h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Branch Suppliers</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("SubBranchSupplier", "Supplier")" title="Sub Branch Suppliers">
                                            <em class="bi bi-truck-front h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Sub Branch Suppliers</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Purchase`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("NewPurchase", "PurchaseCart")" title="New Purchase">
                                            <em class="bi bi-cart-plus h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">New Purchase</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("RemainingPaymentList", "PurchasePayment")" title="Purchase Pending Payment">
                                            <em class="bi bi-currency-dollar h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Purchase Pending Payment</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("CustomPurchasesHistory", "PurchasePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="All Purchases">
                                            <em class="bi bi-cart h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">All Purchases</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("FindPurchase", "PurchaseReturn")" title="Purchases Return">
                                            <em class="bi bi-cart-dash h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Purchases Return</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("AllPurchasesPendingPayment", "PurchasePaymentReturn")" title="Return Purchases Payment Pending">
                                            <em class="bi bi-currency-dollar h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Return Payment Pending</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">Transaction`s</span>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("GeneralTransaction", "GeneralTransaction", new { transaction = new CloudERP.Models.GeneralTransactionMV() { CreditAccountControlID = 0, DebitAccountControlID = 0, TransferAmount = 0 } })" title="General Transaction">
                                            <em class="bi bi-briefcase h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">General Transaction</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Journal", "GeneralTransaction")" title="Journal">
                                            <em class="bi bi-journal-bookmark h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Journal</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("GetLedger", "Ledger")" title="Accounts Ledger">
                                            <em class="bi bi-book-half h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Accounts Ledger</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("GetTrialBalance", "TrialBalance")" title="Trial Balance">
                                            <em class="bi bi-currency-dollar h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Trial Balance</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("GetIncomeStatement", "IncomeStatement")" title="Income Statement">
                                            <em class="bi bi-currency-exchange h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Income Statement</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("GetBalanceSheet", "BalanceSheet")" title="Balance Sheet">
                                            <em class="bi bi-file-earmark-spreadsheet h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">Balance Sheet</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li class="">
                                        <a href="@Url.Action("AllSuppliers", "Supplier")" title="All Suppliers">
                                            <em class="bi bi-minecart-loaded h4"></em>
                                            <span data-localize="sidebar.nav.element.ELEMENTS">All Suppliers</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">License</span>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("PrivacyPolicy", "Guide")" title="Privacy Policy">
                                        <em class="bi bi-sourceforge h4"></em>
                                        <span data-localize="sidebar.nav.element.ELEMENTS">Privacy Policy</span>
                                    </a>
                                </li>
                            }
                        }
                        }
                    </ul>
                    <!-- END sidebar nav-->
                </nav>
            </div>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    <div>
                        @ViewBag.Title
                    </div>
                </div>
                <div>
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Page footer-->
        <footer class="footer-container">
            <span>&copy; 2023 - Kuvaiev Inc</span>
        </footer>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/Content/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/Content/Template/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Content/Template/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/Content/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Content/Template/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/Content/Template/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/Content/Template/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/Content/Template/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/Content/Template/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Bootgrid-->
    <script src="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.js"></script>
    <script src="~/Content/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js"></script>
    <!-- JQUERY VALIDATE-->
    <script src="~/Content/Template/vendor/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Content/Template/vendor/jquery-validation/dist/additional-methods.js"></script>
    <!-- JQUERY STEPS-->
    <script src="~/Content/Template/vendor/jquery-steps/build/jquery.steps.js"></script>
    <!-- Datatables-->
    <script src="~/Content/Template/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/Template/vendor/jszip/dist/jszip.js"></script>
    <script src="~/Content/Template/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/Content/Template/vendor/pdfmake/build/vfs_fonts.js"></script>
    <!-- Themes-->
    @*TODO: Dark Theme
      <script src="~/Scripts/Theme/theme-switcher.js"></script>*@
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Content/Template/js/app.js"></script>
</body>
</html>
