@model Domain.Models.AccountSubControl
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = Localization.CloudERP.Account.EditSubControl;
}

<script>
    window.Culture = '@HttpContextAccessor.HttpContext?.Session.GetString("Culture")';
</script>

<script src="~/wwwroot/js/CustomScripts/VoiceRecognition.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        @Html.HiddenFor(model => model.AccountSubControlID)
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.IsGlobal)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountControlID, Localization.CloudERP.Account.SelectControlAccount, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                    m => m.AccountControlID,
                    new SelectList(ViewBag.AccountControlList, "AccountControlID", "AccountControlName"),
                    "Account Control",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccountControlID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountSubControlName, Localization.CloudERP.Account.NewAccountSubControlName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AccountSubControlName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountSubControlName, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (HttpContextAccessor.HttpContext?.Session.GetInt32("UserTypeID") == 1)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IsGlobal, "Global", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.IsGlobal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsGlobal, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localization.CloudERP.Common.Save" class="btn btn-success" />
                @Html.ActionLink(Localization.CloudERP.Common.BackToList, "Index", null, new { @class = "btn btn-default" })
                <button id="voiceRecognitionButton" class="btn btn-link" type="button">
                    <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
                </button>
            </div>
        </div>
    </div>
}