@model Domain.Models.Company

@{
    ViewBag.Title = Resources.Company.CompanyDetails.ToString();
}

<div class="card col-md-12" style="height: 50vh; padding: 3vh;">
    <div class="row row-flush">
        <div class="col-5 d-flex align-items-center justify-content-center">
            <img src="@Url.Content(Model.Logo)" style="height: 43vh;"/>
        </div>
        <div class="col-7">
            <div clss="p-3">
                <div class="float-right">
                    @Html.ActionLink(Resources.Company.EditProfile.ToString(), "Edit", new { id = Model.CompanyID }, new { @class = "btn btn-primary btn-sm" })
                </div>
                <p>
                    <span class="text-lg col-1">@Html.DisplayFor(model => model.Name)</span>
                </p>
                <p>
                    <strong class="col-1">@Html.DisplayFor(model => model.Name)</strong>
                </p>
                <p class="col-11">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <h3 class="text-danger">@ViewBag.Message</h3>
                <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink(Resources.Common.BackToList.ToString(), "Index")
</p>
