@model CloudERP.Models.SaleInvoiceMV
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Localization.CloudERP.Sale.SaleInvoice</title>
    <link rel="stylesheet" href="~/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Template/css/app.css">
    <link rel="stylesheet" href="~/CustomStyles/PrintInvoice.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h3>@Localization.CloudERP.Sale.SaleInvoice</h3>
                <hr>
                <div class="row mb-3 ml-1">
                    <div class="w-auto m-3">
                        <img src="@Url.Content(Model.CustomerLogo)" class="img-fluid" style="max-width: 50px; height: auto;" />
                    </div>
                    <div class="col-md-3 col-7 br py-2">
                        <h4>@Localization.CloudERP.Sale.Customer</h4>
                        <hr />
                        <h4>@Model.CustomerName</h4>
                        <h5>@Localization.CloudERP.User.ContactNo: @Model.CustomerContact</h5>
                        <address>@Model.CustomerArea</address>
                        <h4>@Model.CompanyName</h4>
                    </div>
                    <div class="w-auto m-3">
                        <img src="@Url.Content(Model.CompanyLogo)" class="img-fluid" style="max-width: 50px; height: auto;" />
                    </div>
                    <div class="col-xl-4 col-7 br py-2">
                        <h4>@Localization.CloudERP.Branch.BranchName</h4>
                        <hr />
                        <h4>@Model.BranchName</h4>
                        <h5>@Localization.CloudERP.User.ContactNo: @Model.BranchContact</h5>
                        <address>@Model.BranchAddress</address>
                    </div>
                    <div class="col-xl-3 col-7 py-2">
                        <h4>@Localization.CloudERP.Miscellaneous.Date</h4>
                        <hr />
                        <p>@Localization.CloudERP.Sale.InvoiceNo: @Model.InvoiceNo</p>
                        <p>@Localization.CloudERP.Sale.InvoiceDate: @Model.InvoiceDate</p>
                        <p>@Localization.CloudERP.Sale.PrintDate: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                    </div>
                </div>
                <h4>@Localization.CloudERP.Sale.SaleProductsDetail</h4>
                <hr />
                <div class="table-responsive table-bordered mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localization.CloudERP.Sale.Quantity</th>
                                <th>@Localization.CloudERP.Sale.UnitPrice</th>
                                <th>@Localization.CloudERP.Sale.TotalAmount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InvoiceItems)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Qty</td>
                                    <td>@item.SaleUnitPrice.ToString("F2")</td>
                                    <td class="text-left">@item.ItemCost.ToString("F2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 py-2">
                        <div class="row mb-3 align-items-center">
                            <div class="col-7">
                                <div class="h3">@Localization.CloudERP.Sale.GRANDTOTAL</div>
                            </div>
                            <div class="col-5">
                                <div class="text-right h3">@Model.TotalCost.ToString("F2") @Html.Raw(Localization.CloudERP.Common.UAH)</div>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var returnInvoice in Model.ReturnInvoices)
                {
                    <div class="d-flex align-items-center">
                        <h3>@Localization.CloudERP.Sale.SaleReturnInvoice</h3>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-xl-4 col-12 py-2">
                            <p>@Localization.CloudERP.Sale.ReturnInvoiceNo: @returnInvoice.ReturnInvoiceNo</p>
                            <p>@Localization.CloudERP.Sale.ReturnInvoiceDate: @returnInvoice.ReturnInvoiceDate</p>
                        </div>
                    </div>

                    <div class="table-responsive table-bordered mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>@Localization.CloudERP.Sale.Quantity</th>
                                    <th>@Localization.CloudERP.Sale.UnitPrice</th>
                                    <th>@Localization.CloudERP.Sale.TotalAmount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var returnItem in returnInvoice.ReturnItems)
                                {
                                    <tr>
                                        <td>@returnItem.ProductName</td>
                                        <td>@returnItem.SaleReturnQuantity</td>
                                        <td>@returnItem.SaleReturnUnitPrice</td>
                                        <td class="text-left">@((returnItem.SaleReturnQuantity * returnItem.SaleReturnUnitPrice).ToString("F2"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <hr class="d-print-none">
                <button class="btn btn-secondary" type="button" onclick="window.print();">@Localization.CloudERP.Sale.PrintInvoice</button>
            </div>
        </div>
    </div>
</body>
</html>