@model IEnumerable<Domain.Models.CustomerInvoiceDetail>
@{
    Layout = null;
    double total = Model.Sum(item => item.ItemCost);
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Sale.SaleInvoice</title>
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Template/css/app.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h3>@Resources.Sale.SaleInvoice</h3>
                <hr>
                <div class="row mb-3">
                    <div class="col-xl-4 col-6 br py-2">
                        <h4>@Resources.Sale.Customer</h4>
                        <hr />
                        <h4>@Model.First().CustomerName</h4>
                        <h5>@Resources.Sale.ContactNo: @Model.First().CustomerContact</h5>
                        <address>@Model.First().CustomerArea</address>
                        <h4>@Model.First().CompanyName</h4>
                    </div>
                    <div class="col-xl-4 col-6 br py-2">
                        <h4>@Model.First().BranchName</h4>
                        <h5>@Resources.Sale.ContactNo: @Model.First().BranchContact</h5>
                        <address>@Model.First().BranchAddress</address>
                    </div>
                    <div class="col-xl-4 col-12 py-2">
                        <p>@Resources.Sale.InvoiceNo: @Model.First().CustomerInvoiceNo</p>
                        <p>@Resources.Sale.InvoiceDate: @Model.First().CustomerInvoiceDate.ToString("dd/MM/yyyy")</p>
                        <p>@Resources.Sale.PrintDate: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                    </div>
                </div>

                <div class="table-responsive table-bordered mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Resources.Sale.ItemNo</th>
                                <th>@Resources.Sale.Quantity</th>
                                <th>@Resources.Sale.UnitPrice</th>
                                <th class="text-right">@Resources.Sale.Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Qty</td>
                                    <td>@item.SaleUnitPrice</td>
                                    <td class="text-left">@item.ItemCost.ToString("F2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 py-2">
                        <div class="row mb-3 align-items-center">
                            <div class="col-7">
                                <div class="h3">@Resources.Sale.GRANDTOTAL</div>
                            </div>
                            <div class="col-5">
                                <div class="text-right h3">@total.ToString("F2")</div>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model.Where(i => i.CustomerReturnInvoiceDetail.Any()))
                {
                    <div class="d-flex align-items-center">
                        <h3>@Resources.Sale.SaleReturnInvoice</h3>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-xl-4 col-12 py-2">
                            <p>@Resources.Sale.ReturnInvoiceNo: @item.CustomerReturnInvoiceDetail.First().InvoiceNo</p>
                            <p>@Resources.Sale.ReturnInvoiceDate: @item.CustomerReturnInvoiceDetail.First().InvoiceDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>

                    <div class="table-responsive table-bordered mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Resources.Sale.ItemNo</th>
                                    <th>@Resources.Sale.Quantity</th>
                                    <th>@Resources.Sale.UnitPrice</th>
                                    <th class="text-right">@Resources.Sale.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var returnItem in item.CustomerReturnInvoiceDetail)
                                {
                                    <tr>
                                        <td>@returnItem.ProductName</td>
                                        <td>@returnItem.SaleReturnQuantity</td>
                                        <td>@returnItem.SaleReturnUnitPrice</td>
                                        <td class="text-left">@((returnItem.SaleReturnQuantity * returnItem.SaleReturnUnitPrice).ToString("F2"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <hr class="d-print-none">
                <button class="btn btn-secondary" type="button" onclick="window.print();">@Resources.Sale.Print</button>
            </div>
        </div>
    </div>
</body>
</html>
