@model Domain.Models.SaleItemDetailDto

@{
    ViewBag.Title = Localization.CloudERP.Sale.SaleInvoiceNo + Model.InvoiceNo;
}

<div class="card">
    <div class="card card-float">
        <div class="card-header">
            <h3 class="text-success">@Localization.CloudERP.Sale.SaleProductsDetail</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>@Localization.CloudERP.Sale.Product</th>
                    <th>@Localization.CloudERP.Sale.Quantity</th>
                    <th>@Localization.CloudERP.Sale.UnitPrice</th>
                    <th>@Localization.CloudERP.Sale.ItemCost</th>
                </tr>
                @if (Model.Products != null)
                {
                    foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.UnitPrice</td>
                            <td class="text-left">@item.ItemCost</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 py-2">
                <div class="row mb-3 align-items-center">
                    <div class="col-7">
                        <div class="h3">@Localization.CloudERP.Sale.GRANDTOTAL</div>
                    </div>
                    <div class="col-5">
                        <div class="text-left h3">@Model.Total.ToString("F2")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Returns != null)
{
    <div class="card">
        <div class="card card-float">
            <div class="card-header">
                <h3 class="text-danger">@Localization.CloudERP.Sale.ReturnSaleProductsDetail</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>@Localization.CloudERP.Sale.Product</th>
                        <th>@Localization.CloudERP.Sale.Quantity</th>
                        <th>@Localization.CloudERP.Sale.UnitPrice</th>
                        <th>@Localization.CloudERP.Sale.ItemCost</th>
                    </tr>

                    @foreach (var item in Model.Returns)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.UnitPrice</td>
                            <td class="text-left">@item.ItemCost</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 py-2">
                    <div class="row mb-3 align-items-center">
                        <div class="col-7">
                            <div class="h3">@Localization.CloudERP.Sale.ReturnTotal</div>
                        </div>
                        <div class="col-5">
                            <div class="text-left h3">@Model.Returns.Sum(r => r.ItemCost).ToString("F2")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}