@model DatabaseAccess.tblEmployee

@{
    ViewBag.Title = "Employee Registration";
    string geoapifyApiKey = System.Configuration.ConfigurationManager.AppSettings["GeoapifyApiKey"];
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

@using (Html.BeginForm("EmployeeRegistration", "BranchEmployee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:100%;">
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, Resources.User.FullName.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, Resources.User.ContactNo.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @id = "PhoneNumber" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogoFile, Resources.CompanyEmployee.Photo.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <span class="btn btn-default btn-file">
                    @Html.TextBoxFor(model => model.LogoFile, new { type = "file" })
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, Resources.User.EmailAddress.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TIN, "TIN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, Resources.CompanyEmployee.Designation.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MonthlySalary, Resources.CompanyEmployee.MonthlySalaryAmount.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.MonthlySalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MonthlySalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, Resources.CompanyEmployee.Description.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, Resources.CompanyEmployee.Address.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                <h5 class="mt-3">Click here to choose a correct address below</h5>
                <ul id="suggestions"></ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Repeats.Save.ToString()" class="btn btn-success" />
                @Html.ActionLink("All Employees", "Employee", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var input = document.querySelector("#PhoneNumber");
        var iti = window.intlTelInput(input, {
            initialCountry: "@ViewBag.SelectedCountryCode",
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });

        iti.setNumber("@Model.ContactNo");

        $('form').submit(function (e) {
            var phoneNumber = iti.getNumber();
            if (!iti.isValidNumber()) {
                e.preventDefault();
                alert("Please enter a valid phone number.");
            } else {
                $('#PhoneNumber').val(phoneNumber);
            }
        });

        $('#address').on('input', function () {
            var query = $(this).val();
            if (query.length > 2) {
                $.ajax({
                    url: '/Address/Autocomplete',
                    data: { query: query },
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.features) {
                            var suggestions = data.features;
                            $('#suggestions').empty();
                            suggestions.forEach(function (suggestion) {
                                $('#suggestions').append('<li class="suggestion-item">' + suggestion.properties.formatted + '</li>');
                            });
                        } else {
                            console.error("Unexpected JSON format:", data);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error during AJAX request:", status, error);
                    }
                });
            }
        });

        $(document).on('click', '.suggestion-item', function () {
            var selectedAddress = $(this).text();
            $('#address').val(selectedAddress);
            $('#suggestions').empty();
        });
    });
</script>