@model DatabaseAccess.tblEmployee

@{
    ViewBag.Title = Resources.CompanyEmployee.EmployeeProfile.ToString();
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.FullName))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.ContactNo))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyEmployee.Photo))
            </dt>

            <dd>
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="@Url.Content(Model.Photo)" alt="image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                }
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.EmailAddress))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyEmployee.Address))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                TIN
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIN)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyEmployee.Designation))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyEmployee.Description))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.CompanyEmployee.BasicSalary))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlySalary)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.Branch.BranchTitle))
            </dt>

            <dt>
                @Html.DisplayFor(model => model.tblBranch.BranchName)
            </dt>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Resources.CompanyEmployee.EditProfile.ToString(), "EmployeeUpdation", new { id = Model.EmployeeID }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources.Repeats.BackToList.ToString(), "Employee", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
