@model Domain.Models.Employee
@using Localization.CloudERP.Modules.Company
@using Localization.CloudERP.Modules.Miscellaneous
@using Localization.CloudERP.Modules.Branch
@using Localization.CloudERP.Common
@{
    ViewBag.Title = Company.EmployeeProfile;
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.ContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>

            <dt>
                @Html.Raw(Miscellaneous.Photo)
            </dt>

            <dd>
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="@Url.Content(Model.Photo)" alt="image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                }
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.Supplier.Supplier.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.TIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TIN)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.Designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt>
                @Html.Raw(Miscellaneous.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Modules.User.User.BasicSalary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlySalary)
            </dd>

            <dt>
                @Html.Raw(Branch.BranchName)
            </dt>

            <dt>
                @Html.DisplayFor(model => model.BranchName)
            </dt>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Company.EditProfile, "EmployeeUpdation", new { id = Model.EmployeeID }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Common.BackToList, "Employee", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
