@model Domain.Models.SupportTicket

@{
    ViewBag.Title = Localization.CloudERP.Support.ContactSupport;
}

<!-- Tables Sorting-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

@using (Html.BeginForm("SubmitTicket", "Support", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        <div class="form-group">
            @Html.LabelFor(m => m.Subject, Localization.CloudERP.Support.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Message, Localization.CloudERP.Support.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = 5 })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localization.CloudERP.Common.Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="card card-default col-md-12 mt-4">
    <div class="card-body">
        <h3>My Tickets</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>@Localization.CloudERP.Support.Subject</th>
                        <th>@Localization.CloudERP.Support.Message</th>
                        <th>@Localization.CloudERP.Support.DateCreated</th>
                        <th>@Localization.CloudERP.Support.Status</th>
                        <th>@Localization.CloudERP.Support.Response</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in ViewBag.UserTickets as IEnumerable<Domain.Models.SupportTicket>)
                    {
                        <tr>
                            <td>@ticket.Subject</td>
                            <td>@ticket.Message</td>
                            <td>@ticket.DateCreated.ToString("MM:dd:yyyy")</td>
                            <td>@(ticket.IsResolved ? Localization.CloudERP.Common.Resolved : Localization.CloudERP.Common.Pending)</td>
                            <td>@(($"{ticket.RespondedBy}: {ticket.AdminResponse}") ?? "-")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 4 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>