@model Domain.Models.TaskModel

@{
    ViewBag.Title = Localization.CloudERP.Modules.Task.Task.AssignTaskToEmployee;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.BranchID, new { id = "BranchID" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

        <div class="form-group">
            @Html.LabelFor(m => m.Title, Localization.CloudERP.Modules.Task.Task.TaskTitle, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DueDate, Localization.Services.Localization.DueDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.DueDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">@Localization.CloudERP.Modules.Task.Task.SelectEmployee</label>
            <div class="col-md-5">
                <select id="AssignedToUserID" name="AssignedToUserID" class="form-control">
                    <option value="">-- @Localization.CloudERP.Modules.Task.Task.SelectEmployee --</option>
                    @foreach (var employee in ViewBag.Employees)
                    {
                        <option value="@employee.UserID" data-branch-id="@employee.BranchID">@employee.FullName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localization.CloudERP.Common.Common.Save" class="btn btn-success" />
                <button id="voiceRecognitionButton" class="btn btn-link" type="button">
                    <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('AssignedToUserID').addEventListener('change', function () {
            const selectedEmployee = this.options[this.selectedIndex];
            const branchId = selectedEmployee.getAttribute('data-branch-id');
            document.getElementById('BranchID').value = branchId || '';
        });
    </script>
}
