@model Domain.Models.TaskModel

@{
    ViewBag.Title = Localization.CloudERP.Task.TaskDetails;
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Localization.CloudERP.Task.TaskTitle
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Localization.CloudERP.Task.Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Localization.CloudERP.Task.DueDate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>

            <dt>
                @Localization.CloudERP.Task.ReminderDate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReminderDate)
            </dd>

            <dt>
                @Localization.CloudERP.Task.IsCompleted
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsCompleted)
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.ActionLink(Localization.CloudERP.Common.Edit, "Edit", new { id = Model.TaskID }, new { @class = "btn btn-primary" })
                @Html.ActionLink(Localization.CloudERP.Common.BackToList, "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>