@model Domain.Models.TaskModel

@{
    ViewBag.Title = Localization.CloudERP.Task.TaskDetails.ToString();
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Localization.CloudERP.Task.TaskTitle.ToString()
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Localization.CloudERP.Task.Description.ToString()
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Localization.CloudERP.Task.DueDate.ToString()
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>

            <dt>
                @Localization.CloudERP.Task.ReminderDate.ToString()
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReminderDate)
            </dd>

            <dt>
                @Localization.CloudERP.Task.IsCompleted.ToString()
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsCompleted)
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.ActionLink(Localization.CloudERP.Common.Edit.ToString(), "Edit", new { id = Model.TaskID }, new { @class = "btn btn-primary" })
                @Html.ActionLink(Localization.CloudERP.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>