@model Domain.Models.TaskModel

@{
    ViewBag.Title = Resources.Task.EditTask.ToString();
}

<script>
    window.Culture = '@Session["Culture"]';
</script>
<script src="~/Scripts/CustomScripts/VoiceRecognition.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TaskID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.AssignedByUserID)
        @Html.HiddenFor(model => model.AssignedToUserID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, Resources.Task.TaskTitle.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, Resources.Task.Description.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, Resources.Task.DueDate.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.DueDate, new { @type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReminderDate, Resources.Task.ReminderDate.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.ReminderDate, new { @type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReminderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Common.Save.ToString()" class="btn btn-success" />
                @Html.ActionLink(Resources.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
                <button id="voiceRecognitionButton" class="btn btn-link" type="button">
                    <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
                </button>
            </div>
        </div>
    </div>
}