@model IEnumerable<Domain.Models.AccountActivity>
@using Localization.CloudERP.Modules.Account
@using Localization.CloudERP.Common
@{
    ViewBag.Title = Account.AllAccountActivities;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.ActionLink(Account.AddAccountActivity, "Create", "AccountActivity", null, new { @style = "float:left;", @class = "btn btn-success" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th class="col-md-7">
                            @Account.AccountActivityName
                        </th>
                        <th>
                            @Html.Raw(Common.Actions)
                        </th>
                    </tr>
                </thead>
                <tbody id="list">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="d-flex btn-group">
                                @Html.ActionLink(Common.Edit, "Edit", new { id = item.AccountActivityID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            layout: {
                topStart: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'csv', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'excel', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'pdf', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'print', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } }
                    ]
                },
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: 'paging',
                top2Start: 'pageLength'
            },
            columnDefs: [{ orderable: false, targets: 1 }],
            lengthMenu: [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "*"]]
        });
    });
</script>
