@model IEnumerable<Domain.Models.AccountActivity>

@{
    ViewBag.Title = "All Account Activities";
}

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.ActionLink("Add Account Activity", "Create", null, new { @style = "float:left;", @class = "btn btn-success" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th class="col-md-7">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Common.Actions)
                        </th>
                    </tr>
                </thead>
                <tbody id="list">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink(Localization.CloudERP.Common.Edit, "Edit", new { id = item.AccountActivityID }, new { @class="btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 1 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>
