@model Domain.Models.FinancialModels.BalanceSheetModel
@{
    ViewBag.Title = Localization.CloudERP.Financial.SubBranchBalanceSheet;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

@using (Html.BeginForm("GetSubBalanceSheet", "BalanceSheet", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card card-float">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>@Localization.CloudERP.Financial.SelectFinancialYear</label>
                        @Html.DropDownList("financialYearId", (SelectList)ViewBag.FinancialYears, Localization.CloudERP.Financial.SelectFinancialYear, new { @class = "form-control", required = "required" })
                        <input type="submit" value="@Localization.CloudERP.Financial.RetrieveBalanceSheet" class="btn btn-success form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    <div class="card card-default col-md-12">
        <div class="card-header">
            <h3 class="text-primary">@Localization.CloudERP.Financial.BalanceSheetStr</h3>
            <p>@Localization.CloudERP.Miscellaneous.Export</p>
            <h3 class="text-danger">@ViewBag.Message</h3>
            <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive bootgrid">
                <table class="table table-striped table-bordered table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Localization.CloudERP.Financial.AccountTitle
                            </th>
                            <th>
                                @Localization.CloudERP.Financial.Amount
                            </th>
                            <th>
                                @Localization.CloudERP.Financial.Total
                            </th>
                        </tr>
                        @if (Model.AccountHeadTotals != null)
                        {
                            foreach (var accountHead in Model.AccountHeadTotals)
                            {
                                <tr style="background-color:lightgray;">
                                    <td>
                                        @accountHead.AccountHeadTitle
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                foreach (var accounts in accountHead.AccountHeadDetails)
                                {
                                    <tr>
                                        <td>
                                            @accounts.AccountSubTitle
                                        </td>
                                        @if (accounts.Status == "Debit")
                                        {
                                            if (accounts.AccountSubTitle.Contains("Assets"))
                                            {
                                                <td>
                                                    @accounts.TotalAmount
                                                </td>
                                            }
                                            else if (accounts.AccountSubTitle.Contains("Liabilities") || accounts.AccountSubTitle.Contains("Capital"))
                                            {
                                                <td>
                                                    (@accounts.TotalAmount)
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            if (accounts.AccountSubTitle.Contains("Assets"))
                                            {
                                                <td>
                                                    (@accounts.TotalAmount)
                                                </td>
                                            }
                                            else if (accounts.AccountSubTitle.Contains("Liabilities") || accounts.AccountSubTitle.Contains("Capital"))
                                            {
                                                <td>
                                                    @accounts.TotalAmount
                                                </td>
                                            }
                                        }
                                        <td></td>
                                    </tr>
                                }

                                if (accountHead.AccountHeadTitle.Contains("Assets"))
                                {
                                    <tr style="background-color:black;color:white;">
                                        <td>
                                            @Localization.CloudERP.Financial.TotalAssets:
                                        </td>
                                        <td></td>
                                        <td>
                                            @Model.TotalAssets
                                        </td>
                                    </tr>
                                }
                                else if (accountHead.AccountHeadTitle.Contains("Liabilities"))
                                {
                                    <tr style="background-color:lightcyan;color:black;">
                                        <td>
                                            @Localization.CloudERP.Financial.TotalLiabilities:
                                        </td>
                                        <td></td>
                                        <td>
                                            @accountHead.TotalAmount
                                        </td>
                                    </tr>
                                }
                                if (accountHead.AccountHeadTitle.Contains("Capital"))
                                {
                                    <tr style="background-color:lightcyan;color:black;">
                                        <td>
                                            @Localization.CloudERP.Financial.TotalOwnerEquity:
                                        </td>
                                        <td></td>
                                        <td>
                                            @accountHead.TotalAmount
                                        </td>
                                    </tr>
                                }
                                <tr><td></td><td></td><td></td></tr>
                            }
                            <tr style="background-color:lightcyan;color:black;">
                                <td>
                                    @Localization.CloudERP.Financial.TotalReturnEarning:
                                </td>
                                <td></td>
                                <td>
                                    @Model.ReturnEarning
                                </td>
                            </tr>
                            <tr style="background-color:black;color:white;">
                                <td>
                                    @Localization.CloudERP.Financial.TotalBalanceLiabilitiesOwnerEquityReturnEarning:
                                </td>
                                <td></td>
                                <td>
                                    @Model.Total_Liabilities_OwnerEquity_ReturnEarning
                                </td>
                            </tr>
                        }
                    </table>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy',
                'csv',
                'excel',
                'pdf',
                'print'
            ],
            ordering: false,
        });
    });
</script>
