@model IEnumerable<DatabaseAccess.tblSupplier>

@{
    ViewBag.Title = Resources.Supplier.AllSuppliers.ToString();
}

<!-- Tables Sorting-->
<link href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.CompanyTitle))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.BranchTitle))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.SupplierName))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.ConatctNo))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.Email))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.Address))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.User))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Supplier.Description))
                        </th>
                    </tr>
                </thead>
                <tbody id="SBSupplierList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblCompany.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblBranch.BranchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierConatctNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblUser.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discription)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>