@model Domain.Models.SupplierInvoice
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Localization.CloudERP.Modules.Purchase
@using Localization.CloudERP.Modules.Sale
@using Localization.CloudERP.Modules.Company
@using Localization.CloudERP.Modules.Miscellaneous
@{
    ViewBag.Title = Purchase.SearchPurchaseByInvoiceNo;
}

@using (Html.BeginForm("FindPurchase", "PurchaseReturn", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        <div class="form-group">
            <label class="control-label col-md-2">@Purchase.EnterPurchaseInvoiceNo</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="invoiceID" name="invoiceID" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="@Purchase.FindPurchase" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@if (Model != null && Model.InvoiceNo != null)
{
    try
    {
        using (Html.BeginForm("ReturnConfirm", "PurchaseReturn", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="SupplierInvoiceID" value="@Model.SupplierInvoiceID" />

            <div class="card mt-4">
                <div class="card-header">
                    <h3>@Sale.Invoice №: @Model.InvoiceNo</h3>
                    <h3 class="text-danger">@HttpContextAccessor.HttpContext?.Session.GetString("PurchaseReturnMessage")</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>@Company.CompanyTitle:</h4>
                            <p>@Model.CompanyName - @Model.BranchName</p>
                            <p>@Localization.CloudERP.Modules.Supplier.Supplier.Address: @Model.BranchAddress</p>
                            <p>@Localization.CloudERP.Modules.User.User.ContactNo: @Model.BranchContact</p>
                        </div>
                        <div class="col-md-6">
                            <h4>@Sale.Supplier:</h4>
                            <p>@Model.SupplierName</p>
                            <p>@Localization.CloudERP.Modules.Supplier.Supplier.Address: @Model.SupplierAddress</p>
                            <p>@Localization.CloudERP.Modules.User.User.ContactNo: @Model.SupplierConatctNo</p>
                        </div>
                    </div>

                    <table class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th>@Sale.Product</th>
                                <th>@Purchase.PurchaseQty</th>
                                <th>@Sale.ReturnQty</th>
                                <th>@Purchase.UnitPrice</th>
                                <th>@Miscellaneous.ItemCost</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < ViewBag.InvoiceDetails.Count; i++)
                            {
                                var item = ViewBag.InvoiceDetails[i];
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Qty</td>
                                    <td>
                                        <input type="hidden" name="ProductReturns[@i].ProductID" value="@item.ProductID" />
                                        <input type="number" class="form-control" name="ProductReturns[@i].ReturnQty" value="0" min="0" max="@item.Qty" />
                                    </td>
                                    <td>@item.PurchaseUnitPrice.ToString("F2")</td>
                                    <td>@item.ItemCost.ToString("F2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-check mt-3">
                        <input type="checkbox" class="form-check-input" id="IsPayment" name="IsPayment" />
                        <label class="form-check-label" for="IsPayment">@Purchase.IsReturnPurchasePaymentPaid</label>
                    </div>

                    <button type="submit" class="btn btn-success mt-3">@Sale.SubmitReturn</button>
                </div>
            </div>
        }
    }
    catch
    {

    }
}