@model Domain.Models.Stock

@{
    ViewBag.Title = Localization.CloudERP.Miscellaneous.ProductDetails;
}

<div class="form-horizontal">
    <div class="col-md-10">
        <dl class="dl-horizontal">
            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.SaleUnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SaleUnitPrice)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.CurrentPurchaseUnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentPurchaseUnitPrice)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.ExpiryDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpiryDate)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.ManufactureDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacture)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.TresholdQuantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StockTreshHoldQuantity)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Branch.BranchTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BranchName)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Miscellaneous.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.Company.CompanyTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>

            <dt>
                @Html.Raw(Localization.CloudERP.User.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Localization.CloudERP.Common.Edit, "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Localization.CloudERP.Common.BackToList, "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>