@*Localized*@
@model DatabaseAccess.tblUser

@{
    ViewBag.Title = Resources.User.UserDetails.ToString();
}

<div class="form-horizontal">
    <div class="form-group">
        <dl class="col-md-offset-2 col-md-10">
            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.FullName))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.EmailAddress))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.ContactNo))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.UserName))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.Status))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.Raw(HttpUtility.HtmlDecode(Resources.User.UserType))
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblUserType.UserType)
            </dd>

        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Resources.Common.Edit.ToString(), "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Resources.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>