@model DatabaseAccess.tblUser

@{
    ViewBag.Title = "User Details";
}

<div class="form-horizontal">
    <div class="form-group">
        <dl class="col-md-offset-2 col-md-10">
            <dt>
                Full Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Contact №
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                Password
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                Status / Is Active
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                User Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblUserType.UserType)
            </dd>

        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>