@model CloudERP.Models.SalaryMV
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = Localization.CloudERP.Company.EmployeeSalary;
    var rates = ViewData["CurrencyRates"] as Dictionary<string, double>;
}

<div class="card card-default col-md-12">
    <div class="card-header">
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            @using (Html.BeginForm("EmployeeSalary", "CompanyEmployee", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.TIN, Localization.CloudERP.Company.EnterEmployeeTIN, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TIN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Localization.CloudERP.Company.Search" class="btn btn-info" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="card card-default col-md-12">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <h2 class="text-success bold">@HttpContextAccessor.HttpContext?.Session.GetString("SalaryMessage")</h2>

            @using (Html.BeginForm("EmployeeSalaryConfirm", "CompanyEmployee", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.EmployeeID)

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeName, Localization.CloudERP.Company.EmployeeName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TIN, "TIN", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TIN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TIN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation, Localization.CloudERP.User.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TransferAmount, Localization.CloudERP.Company.MonthlySalaryAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TransferAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TransferAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(Localization.CloudERP.Miscellaneous.Surcharge, Localization.CloudERP.Miscellaneous.Surcharge, new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            <input type="number" id="bonusPercentage" name="BonusPercentage" class="form-control" min="0" max="100" step="0.01" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalAmount, Localization.CloudERP.Sale.TotalAmount, new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SalaryMonth, Localization.CloudERP.Company.SalaryOfTheMonth, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SalaryMonth, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.SalaryMonth, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SalaryYear, Localization.CloudERP.Company.SalaryYear, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SalaryYear, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.SalaryYear, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@Localization.CloudERP.Company.ProcessSalary" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let salaryInput = document.getElementById("TransferAmount");
        let bonusInput = document.getElementById("bonusPercentage");
        let totalAmountInput = document.getElementById("TotalAmount");

        function calculateTotal() {
            let salary = parseFloat(salaryInput.value) || 0;
            let bonus = parseFloat(bonusInput.value) || 0;
            let total = salary + (salary * bonus / 100);
            totalAmountInput.value = total.toFixed(2);
        }

        bonusInput.addEventListener("input", calculateTotal);
        salaryInput.addEventListener("input", calculateTotal);
    });
</script>