@model Domain.Models.Payroll

@{
    ViewBag.Title = Localization.CloudERP.Company.PrintSalaryInvoice;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Payroll</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Content/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/Content/Template/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/app.css" id="maincss">
</head>
<body>
    <div class="wrapper">
        <!-- top navbar-->
        <!-- Main section-->
        <!-- Page content-->
        <div class="content-wrapper">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h3 class="m-0">@Html.Raw(Localization.CloudERP.Company.PrintInvoiceNo): @Model.PayrollInvoiceNo</h3>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-xl-4 col-6 br py-2">
                            <div class="row">
                                <div class="col-lg-2 text-center d-none d-lg-block">
                                    @{
                                        string imgurl = Model.CompanyLogo;
                                        if (string.IsNullOrEmpty(imgurl))
                                        {
                                            imgurl = "~/Content/CompanyLogo/erp-logo.png";
                                        }
                                    }
                                    <img src="@Url.Content(imgurl)" alt="Image" style="width: 50px; height: 50px; max-width: 100%; height: auto;"/>
                                </div>
                                <div class="col-lg-10">
                                    <h4>@Model.CompanyName</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-6 br py-2">
                            <div class="row">
                                <div class="col-lg-2 text-center d-none d-lg-block">
                                    @{
                                        string branchimgurl = "~/Content/CompanyLogo/erp-logo.png";
                                    }
                                    <img src="@Url.Content(branchimgurl)" alt="Image" style="width: 50px; height: 50px; max-width: 100%; height: auto;" />
                                </div>
                                <div class="col-lg-10">
                                    <h4>@Model.BranchName</h4>
                                    <h5>@Html.Raw(Localization.CloudERP.User.ContactNo): @Model.BranchContact</h5>
                                    <address>@Model.BranchAddress</address>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xl-4 col-12 py-2">
                            <div class="clearfix">
                                <p class="float-left">@Html.Raw(Localization.CloudERP.Company.PrintInvoiceNo)</p>
                                <p class="float-right mr-2">@Model.PayrollInvoiceNo</p>
                            </div>
                            <div class="clearfix">
                                <p class="float-left">@Html.Raw(Localization.CloudERP.Company.PrintDate)</p>
                                <p class="float-right mr-2">@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                            </div>
                            <div class="clearfix">
                                <p class="float-left">@Html.Raw(Localization.CloudERP.Company.SalaryPaidDate)</p>
                                <p class="float-right mr-2">@Model.PaymentDate.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-bordered mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.Raw(Localization.CloudERP.Company.EmployeeName)</th>
                                    <th>@Html.Raw(Localization.CloudERP.Company.SalaryMonth)</th>
                                    <th>@Html.Raw(Localization.CloudERP.Company.SalaryYear)</th>
                                    <th>@Html.Raw(Localization.CloudERP.Company.CreatedBy)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.EmployeeName</td>
                                    <td>@Model.SalaryMonth</td>
                                    <td>@Model.SalaryYear</td>
                                    <td>@Model.UserName</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 py-2">
                            <div class="row mb-3 align-items-center">
                                <div class="col-7">
                                    <div class="h3">@Html.Raw(Localization.CloudERP.Company.TotalSalary)</div>
                                </div>
                                <div class="col-5">
                                    <div class="text-right h3">@Model.TransferAmount @Html.Raw(Localization.CloudERP.Common.UAH)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="d-print-none">
                    <div class="clearfix">
                        <button class="btn btn-secondary float-left" type="button" onclick="window.print();">@Html.Raw(Localization.CloudERP.Company.Print)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/Content/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/Content/Template/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Content/Template/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/Content/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Content/Template/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/Content/Template/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/Content/Template/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/Content/Template/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/Content/Template/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Content/Template/js/app.js"></script>
</body>
</html>
