@model IEnumerable<Domain.Models.Payroll>
@using Localization.CloudERP.Modules.Company;
@using Localization.CloudERP.Common;
@using Localization.CloudERP.Modules.Miscellaneous
@{
    ViewBag.Title = Company.SalariesSucceedList;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw(Company.Employee)
                        </th>
                        <th>
                            @Html.Raw(Miscellaneous.InvoiceNo)
                        </th>
                        <th>
                            @Html.Raw(Miscellaneous.Date)
                        </th>
                        <th>
                            @Html.Raw(Company.PaidSalary)
                        </th>
                        <th>
                            @Html.Raw(Company.SalaryMonth)
                        </th>
                        <th>
                            @Html.Raw(Company.SalaryYear)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Modules.User.User.CreatedBy)
                        </th>
                        <th>
                            @Html.Raw(Company.SalaryInvoice)
                        </th>
                    </tr>
                </thead>
                <tbody id="financialYearList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayrollInvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransferAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalaryMonth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalaryYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.ActionLink(Company.PrintPayroll, "PrintSalaryInvoice", new { id = item.PayrollID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            layout: {
                topStart: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'csv', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'excel', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'pdf', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } },
                        { extend: 'print', className: 'btn btn-secondary', exportOptions: { columns: ':not(:last-child)' } }
                    ]
                },
                topEnd: 'search',
                bottomStart: 'info',
                bottomEnd: 'paging',
                top2Start: 'pageLength'
            },
            columnDefs: [{ orderable: false, targets: 7 }],
            lengthMenu: [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "*"]],
        });
    });
</script>