@model IEnumerable<DatabaseAccess.Models.AccountLedgerModel>
@{
    ViewBag.Title = Resources.Miscellaneous.AccountsLedger.ToString();
}

<script src="~/Scripts/jquery-3.7.1.js"></script>

@using (Html.BeginForm("GetLedger", "Ledger", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card card-float">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>@Resources.Miscellaneous.SelectFinancialYear.ToString()</label>
                        @Html.DropDownList("id", (SelectList)ViewBag.FinancialYears, Resources.Miscellaneous.SelectFinancialYear.ToString(), new { @class = "form-control", required = "required" })
                        <input type="submit" value="@Resources.Miscellaneous.RetrieveLedger.ToString()" class="btn btn-success form-control mt-2">
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-danger">@ViewBag.Message</h3>
                        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@Resources.Miscellaneous.Export.ToString()</div>
        <div class="text-sm">
            @Resources.Miscellaneous.AccountsLedger.ToString()
        </div>
    </div>
    <div class="card-body">
        <table class="table my-4 w-100" id="dataTable">
            <thead>
                <tr>
                    <th style="display:none;">
                        Sno
                    </th>
                    <th>
                        @Resources.Miscellaneous.Account.ToString()
                    </th>
                    <th>
                        @Resources.Miscellaneous.Date.ToString()
                    </th>
                    <th>
                        @Resources.Miscellaneous.Description.ToString()
                    </th>
                    <th>
                        @Resources.Miscellaneous.Debit.ToString()
                    </th>
                    <th>
                        @Resources.Miscellaneous.Credit.ToString()
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Date == "Date")
                    {
                        <tr style="background-color:lightgray">
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.SNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.SNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 3 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });

        $.ajax({
            type: "GET",
            url: "/TrialBalance/GetFinancialYear",
            dataType: 'json',
            success: function (response) {
                $('#id').append("<option value='0'>Select Financial Year</option>");
                if (response.data && Array.isArray(response.data)) {
                    for (var i = 0; i < response.data.length; i++) {
                        $('#id').append("<option value='" + response.data[i].FinancialYearID + "'>" + response.data[i].FinancialYear + "</option>");
                    }
                } else {
                    console.warn("Unexpected response format:", response);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching financial years: " + error);
            }
        });
    });
</script>
