@model IEnumerable<Domain.Models.SupplierInvoiceDetail>
@{
    Layout = null;
    double total = Model.Sum(item => item.ItemCost);
}

<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Purchase.PurchaseInvoice</title>
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Template/css/app.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h3>@Resources.Purchase.PurchaseInvoice</h3>
                <hr>
                <div class="row mb-3">
                    <div class="col-xl-4 col-10 br py-2">
                        <h4>@Resources.Supplier.SupplierName</h4>
                        <hr class="w-100" />
                        <h4>@Model.First().Supplier.SupplierName</h4>
                        <h5>@Resources.User.ContactNo: @Model.First().Supplier.SupplierConatctNo</h5>
                        <address>@Model.First().Supplier.SupplierAddress</address>
                        <h4>@Model.First().Company.Name</h4>
                    </div>
                    <div class="col-xl-4 col-6 br py-2">
                        <h4>@Model.First().Branch.BranchName</h4>
                        <h5>@Resources.User.ContactNo: @Model.First().Branch.BranchContact</h5>
                        <address>@Model.First().Branch.BranchAddress</address>
                    </div>
                    <div class="col-xl-4 col-12 py-2">
                        <p>@Resources.Purchase.InvoiceNo: @Model.First().SupplierInvoice.InvoiceNo</p>
                        <p>@Resources.Purchase.InvoiceDate: @Model.First().SupplierInvoice.InvoiceDate.ToString("dd/MM/yyyy")</p>
                        <p>@Resources.Purchase.PrintDate: @DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
                    </div>
                </div>

                <div class="table-responsive table-bordered mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Resources.Purchase.ItemNo</th>
                                <th>@Resources.Purchase.Quantity</th>
                                <th>@Resources.Purchase.UnitPrice</th>
                                <th class="text-right">@Resources.Miscellaneous.Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Qty</td>
                                    <td>@item.PurchaseUnitPrice</td>
                                    <td class="text-left">@item.ItemCost.ToString("F2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 py-2">
                        <div class="row mb-3 align-items-center">
                            <div class="col-7">
                                <div class="h3">@Resources.Purchase.GRANDTOTAL</div>
                            </div>
                            <div class="col-5">
                                <div class="text-right h3">@total.ToString("F2")</div>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model.Where(i => i.SupplierReturnInvoiceDetail.Any()))
                {
                    <div class="d-flex align-items-center">
                        <h3>@Resources.Purchase.PurchaseInvoice</h3>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-xl-4 col-12 py-2">
                            <p>@Resources.Purchase.InvoiceNo: @item.SupplierReturnInvoiceDetail.First().InvoiceNo</p>
                            <p>@Resources.Purchase.InvoiceDate: @item.SupplierReturnInvoiceDetail.First().InvoiceDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>

                    <div class="table-responsive table-bordered mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Resources.Purchase.ItemNo</th>
                                    <th>@Resources.Purchase.Quantity</th>
                                    <th>@Resources.Purchase.UnitPrice</th>
                                    <th class="text-right">@Resources.Miscellaneous.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var returnItem in item.SupplierReturnInvoiceDetail)
                                {
                                    <tr>
                                        <td>@returnItem.ProductName</td>
                                        <td>@returnItem.PurchaseReturnQuantity</td>
                                        <td>@returnItem.PurchaseReturnUnitPrice</td>
                                        <td class="text-left">@((returnItem.PurchaseReturnQuantity * returnItem.PurchaseReturnUnitPrice).ToString("F2"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <hr class="d-print-none">
                <button class="btn btn-secondary" type="button" onclick="window.print();">@Resources.Purchase.Print</button>
            </div>
        </div>
    </div>
</body>
</html>
