@model IEnumerable<Domain.Models.SupplierInvoiceDetail>

@{
    double total = 0;

    <div class="card">
        <div class="card card-float">
            <div class="card-header">
                <h3 class="text-success">@Resources.Purchase.PurchaseProductsDetail</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            @Resources.Miscellaneous.ProductName
                        </th>
                        <th>
                            @Resources.Miscellaneous.Quantity
                        </th>
                        <th>
                            @Resources.Purchase.UnitPrice
                        </th>
                        <th>
                            @Resources.Purchase.ItemCost
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        ViewBag.Title = Resources.Purchase.InvoiceNo + item.SupplierInvoice.InvoiceNo;
                        int qty = 0;
                        double itemCost = 0;
                        qty = item.PurchaseQuantity - item.SupplierReturnInvoiceDetail.Where(q => q.ProductID == item.ProductID).Sum(q => q.PurchaseReturnQuantity);
                        itemCost = qty * item.PurchaseUnitPrice;
                        total += itemCost;

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock.ProductName)
                            </td>
                            <td>
                                @qty
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseUnitPrice)
                            </td>
                            <td class="text-left">
                                @itemCost
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 py-2">
                    <div class="row mb-3 align-items-center">
                        <div class="col-7">
                            <div class="h3">@Resources.Purchase.GRANDTOTAL</div>
                        </div>
                        <div class="col-5">
                            <div class="text-left h3">@total.ToString("F2")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    foreach (var item in Model)
    {
        if (item.SupplierReturnInvoiceDetail.Where(s => s.SupplierInvoiceID == item.SupplierInvoiceID).FirstOrDefault() != null)
        {
            double returnTotal = 0;

            <div class="card">
                <div class="card card-float">
                    <div class="card-header">
                        <h3 class="text-danger">@Resources.Purchase.ReturnProductsDetail</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    @Resources.Miscellaneous.ProductName
                                </th>
                                <th>
                                    @Resources.Miscellaneous.Quantity
                                </th>
                                <th>
                                    @Resources.Purchase.UnitPrice
                                </th>
                                <th>
                                    @Resources.Purchase.ItemCost
                                </th>
                            </tr>

                            @foreach (var itemProduct in item.SupplierReturnInvoiceDetail)
                            {
                                int qty = 0;
                                double itemCost = 0;
                                qty = itemProduct.PurchaseReturnQuantity;
                                itemCost = qty * itemProduct.PurchaseReturnUnitPrice;
                                returnTotal += itemCost;

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => itemProduct.tblStock.ProductName)
                                    </td>
                                    <td>
                                        @qty
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => itemProduct.PurchaseReturnUnitPrice)
                                    </td>
                                    <td class="text-left">
                                        @itemCost
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6 py-2">
                            <div class="row mb-3 align-items-center">
                                <div class="col-7">
                                    <div class="h3">@Resources.Miscellaneous.RETURNTOTAL</div>
                                </div>
                                <div class="col-5">
                                    <div class="text-left h3">@returnTotal.ToString("F2")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
