@model Domain.Models.Purchase.PurchaseItemDetailDto

@{
    ViewBag.Title = Localization.CloudERP.Sale.SaleInvoiceNo + Model.InvoiceNo;
}

<div class="card">
    <div class="card card-float">
        <div class="card-header">
            <h3 class="text-success">@Localization.CloudERP.Purchase.PurchaseProductsDetail</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Localization.CloudERP.Miscellaneous.ProductName
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Quantity
                    </th>
                    <th>
                        @Localization.CloudERP.Purchase.UnitPrice
                    </th>
                    <th>
                        @Localization.CloudERP.Purchase.ItemCost
                    </th>
                </tr>
                @if (Model.Products != null)
                {
                    foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.UnitPrice</td>
                            <td class="text-left">@item.ItemCost</td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 py-2">
                <div class="row mb-3 align-items-center">
                    <div class="col-7">
                        <div class="h3">@Localization.CloudERP.Purchase.GRANDTOTAL</div>
                    </div>
                    <div class="col-5">
                        <div class="text-left h3">@Model.Total.ToString("F2")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Returns != null)
{
    <div class="card">
        <div class="card card-float">
            <div class="card-header">
                <h3 class="text-danger">@Localization.CloudERP.Purchase.ReturnProductsDetail</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>@Localization.CloudERP.Miscellaneous.ProductName</th>
                        <th>@Localization.CloudERP.Miscellaneous.Quantity</th>
                        <th>@Localization.CloudERP.Purchase.UnitPrice</th>
                        <th>@Localization.CloudERP.Purchase.ItemCost</th>
                    </tr>

                    @foreach (var item in Model.Returns)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.UnitPrice</td>
                            <td class="text-left">@item.ItemCost</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 py-2">
                    <div class="row mb-3 align-items-center">
                        <div class="col-7">
                            <div class="h3">RETURN TOTAL</div>
                        </div>
                        <div class="col-5">
                            <div class="text-left h3">@Model.Returns.Sum(r => r.ItemCost).ToString("F2")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
