@model Domain.Models.AccountControl

@{
    ViewBag.Title = "Account Control Details";
}

<h2>Account Control Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountHeadID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountHeadID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountControlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountControlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountControlID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
