@model CloudERP.Models.AccountControlMV

@{
    ViewBag.Title = Resources.Account.EditAccountControl.ToString();
}

<script>
    window.Culture = '@Session["Culture"]';
</script>
<script src="~/Scripts/CustomScripts/VoiceRecognition.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

        @Html.HiddenFor(model => model.AccountControlID)
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountHeadID, Resources.Account.SelectAccountHead.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.AccountHeadID, Model.AccountHeadList, Resources.Account.AccountHeadTitle.ToString(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccountHeadID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountControlName, Resources.Account.AccountControlTitle.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.AccountControlName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountControlName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Common.Save.ToString()" class="btn btn-success" />
                @Html.ActionLink(Resources.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
                <button id="voiceRecognitionButton" class="btn btn-link" type="button">
                    <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
                </button>
            </div>
        </div>
    </div>
}
