@model IEnumerable<Domain.Models.AccountControl>

@{
    ViewBag.Title = Resources.Account.AllAccountControls.ToString();
}

<!-- Tables Sorting-->
<link href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.ActionLink(Resources.Account.AddAccountControl.ToString(), "Create", null, new { @style = "float:left;", @class = "btn btn-success" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Account.AccountHeadTitle))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Account.AccountControlTitle))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Account.User))
                        </th>
                        <th>
                            @Html.Raw(HttpUtility.HtmlDecode(Resources.Common.Actions))
                        </th>
                    </tr>
                </thead>
                <tbody id="accountControlList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountHeadName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountControlName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.Common.Edit.ToString(), "Edit", new { id = item.AccountControlID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 3 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>
