@model IEnumerable<Domain.Models.FinancialModels.TrialBalanceModel>
@using Localization.CloudERP.Modules.Miscellaneous
@using Localization.CloudERP.Modules.Financial
@{
    ViewBag.Title = Miscellaneous.TrialBalance;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

@using (Html.BeginForm("GetTrialBalance", "TrialBalance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card card-float">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>@Financial.SelectFinancialYear</label>
                        @Html.DropDownList("id", (SelectList)ViewBag.FinancialYears, Financial.SelectFinancialYear, new { @class = "form-control", required = "required" })
                        <input type="submit" value="@Miscellaneous.GetTrialBalance" class="btn btn-success form-control mt-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h3 class="text-primary">@Miscellaneous.TrialBalance</h3>
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <table class="table my-4 w-100" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Financial.AccountTitle
                    </th>
                    <th>
                        @Miscellaneous.Debit
                    </th>
                    <th>
                        @Miscellaneous.Credit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountSubControl)
                        </td>
                        <td>
                            @if (item.Debit == 0)
                            {
                                <p style="background-color:white;color:white;text-align:center;">
                                    @Html.DisplayFor(modelItem => item.Debit)
                                </p>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Debit)
                            }
                        </td>
                        <td>
                            @if (item.Credit == 0)
                            {
                                <p style="background-color:white;color:white;text-align:center;">
                                    @Html.DisplayFor(modelItem => item.Credit)
                                </p>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Credit)
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @foreach (var item in Model)
                {
                    if (item.AccountSubControl == "Total")
                    {
                        <tr style="background-color:aliceblue;">
                            <td>
                                <b>@Html.DisplayFor(modelItem => item.AccountSubControl)</b>
                            </td>
                            <td>
                                <b>@Html.DisplayFor(modelItem => item.Debit)</b>
                            </td>
                            <td>
                                <b>@Html.DisplayFor(modelItem => item.Credit)</b>
                            </td>
                        </tr>
                    }
                }
            </tfoot>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            layout: {
                topStart: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-primary' },
                        { extend: 'csv', className: 'btn btn-primary' },
                        { extend: 'excel', className: 'btn btn-primary' },
                        { extend: 'pdf', className: 'btn btn-primary' },
                        { extend: 'print', className: 'btn btn-primary' }
                    ]
                }
            },
            ordering: false
        });
    });
</script>
