@model DatabaseAccess.tblBranch

@{
    ViewBag.Title = Resources.Branch.AddBranch.ToString();
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @style = "width:100%;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BrchID, Resources.Branch.SelectTopBranch.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownList("BrchID", null, Resources.Branch.TopBranch.ToString(), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BrchID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchTypeID, Resources.Branch.BranchLevel.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("BranchTypeID", null, Resources.Branch.BranchLevel.ToString(), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchName, Resources.Branch.BranchName.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchContact, Resources.Branch.ContactNo.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.BranchContact, new { htmlAttributes = new { @class = "form-control", @id = "PhoneNumber" } })
                @Html.ValidationMessageFor(model => model.BranchContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchAddress, Resources.Branch.BranchAddress.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.BranchAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Repeats.Create.ToString()" class="btn btn-success" />
                @Html.ActionLink(Resources.Repeats.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var input = document.querySelector("#PhoneNumber");
        var iti = window.intlTelInput(input, {
            initialCountry: "@ViewBag.SelectedCountryCode",
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });

        iti.setNumber("@Model.BranchContact");

        $('form').submit(function (e) {
            var countryCode = iti.getSelectedCountryData().dialCode;
            var phoneNumber = iti.getNumber();
            if (!iti.isValidNumber()) {
                e.preventDefault();
                alert("Please enter a valid phone number.");
            } else {
                $('#PhoneNumber').val(phoneNumber);
            }
        });
    });
</script>