@model Domain.Models.Branch
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Localization.CloudERP.Modules.Branch
@using Localization.CloudERP.Modules.Supplier
@using Localization.CloudERP.Modules.Miscellaneous
@using Localization.CloudERP.Common
@using Localization.CloudERP.Messages
@{
    ViewBag.Title = Branch.EditBranch;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script>
    window.Culture = '@HttpContextAccessor.HttpContext?.Session.GetString("Culture")';
</script>

<script src="~/js/CustomScripts/VoiceRecognition.js"></script>
<script src="~/js/CustomScripts/GetCurrentLozation.js"></script>
<script src="~/js/CustomScripts/AddressAutocomplete.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h5 class="text-danger">@ViewBag.Message</h5>
        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>

        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.BranchTypeID)
        @Html.HiddenFor(model => model.CompanyID)
        @Html.HiddenFor(model => model.BrchID)

        <div class="form-group">
            @Html.LabelFor(model => model.BranchName, Branch.BranchName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchContact, Localization.CloudERP.Modules.User.User.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.BranchContact, new { htmlAttributes = new { @class = "form-control", @id = "PhoneNumber" } })
                @Html.ValidationMessageFor(model => model.BranchContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchAddress, Supplier.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                <div class="input-group">
                    @Html.EditorFor(model => model.BranchAddress, new { htmlAttributes = new { @class = "form-control", @id = "address" } })
                    <div class="input-group-append">
                        <button class="btn btn-link" type="button" onclick="getLocation()">
                            <i class="fas fa-location" style="font-size: 1.5em; color: gray;"></i>
                        </button>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.BranchAddress, "", new { @class = "text-danger" })
                <h5 class="mt-3">@Miscellaneous.ClickHereToChooseACorrectAddressBelow</h5>
                <ul id="suggestions"></ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Common.Save" class="btn btn-success" />
                @Html.ActionLink(Common.BackToList, "Index", null, new { @class = "btn btn-default" })
                <button id="voiceRecognitionButton" class="btn btn-link" type="button">
                    <i class="fas fa-microphone" style="font-size: 1.5em; color: gray;"></i>
                </button>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var input = document.querySelector("#PhoneNumber");
        var iti = window.intlTelInput(input, {
            initialCountry: "ua",
            separateDialCode: true,
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });

        var initialPhone = "@Model.BranchContact";
        if (initialPhone && initialPhone.trim() !== "") {
            iti.setNumber(initialPhone);
        } else {
            iti.setNumber("+380");
        }

        $('form').submit(function (e) {
            var countryCode = iti.getSelectedCountryData().dialCode;
            var phoneNumber = iti.getNumber();
            if (!iti.isValidNumber()) {
                e.preventDefault();
                alert('@Messages.PleaseEnterAValidPhoneNumber');
            } else {
                $('#PhoneNumber').val(phoneNumber);
            }
        });
    });
</script>
