@model IEnumerable<Domain.Models.FinancialModels.JournalModel>
@using Localization.CloudERP.Modules.Miscellaneous
@{
    string previousInvoiceNo = string.Empty;
    ViewBag.Title = Miscellaneous.JournalByTransactionsDate;
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<div class="card">
    <div class="card card-float">
        <div class="card-header">
            <h4>@Localization.CloudERP.Modules.User.User.SelectRangeFromDateAndToDate</h4>
            <h5 class="text-danger">@ViewBag.JournalMessage</h5>
            <h3 class="text-danger">@ViewBag.Message</h3>
            <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Journal", "GeneralTransaction", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <label>@Miscellaneous.SelectFromDate</label>
                        <input type="date" id="FromDate" name="FromDate" value="@DateTime.Now" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label>@Miscellaneous.SelectToDate</label>
                        <input type="date" id="ToDate" name="ToDate" value="@DateTime.Now" class="form-control" required>
                    </div>
                </div>
                <br />
                <hr />
                <input type="submit" value="@Miscellaneous.RetrieveTransactions" class="btn btn-success" style="float: right;">
            }
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex flex-column">
        <h3 class="text-primary">@Miscellaneous.Transactions</h3>
    </div>
    <div class="card-body">
        <table class="table my-4 w-100" id="dataTable">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        @Miscellaneous.Date
                    </th>
                    <th>
                        @Miscellaneous.Account
                    </th>
                    <th>
                        @Miscellaneous.Title
                    </th>
                    <th>
                        @Miscellaneous.InvoiceNo
                    </th>
                    <th>
                        @Miscellaneous.Debit
                    </th>
                    <th>
                        @Miscellaneous.Credit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    bool isNewInvoice = previousInvoiceNo != item.InvoiceNo;
                    previousInvoiceNo = item.InvoiceNo;

                    <tr style="background-color:@(isNewInvoice ? "aliceblue" : "white"); border-bottom: 1px solid #ddd;">
                        <td>@Html.DisplayFor(modelItem => item.SNO)</td>
                        <td>
                            @if (isNewInvoice)
                            {
                                @Html.DisplayFor(modelItem => item.TransectionDate)
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.AccountSubControl)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransectionTitle)</td>
                        <td>
                            @if (isNewInvoice)
                            {
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Debit)</td>
                        <td>@Html.DisplayFor(modelItem => item.Credit)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            layout: {
                topStart: {
                    buttons: [
                        { extend: 'copy', className: 'btn btn-primary' },
                        { extend: 'csv', className: 'btn btn-primary' },
                        { extend: 'excel', className: 'btn btn-primary' },
                        { extend: 'pdf', className: 'btn btn-primary' },
                        { extend: 'print', className: 'btn btn-primary' }
                    ]
                }
            },
            ordering: false
        });
    });
</script>