@model IEnumerable<Domain.Models.FinancialModels.JournalModel>

@{
    string invoiceNo = string.Empty;
    ViewBag.Title = Localization.CloudERP.Miscellaneous.SubBranchJournalByTransactionsDate.ToString();
}

<script src="~/Scripts/jQuery/jquery-3.7.1.js"></script>

<div class="card">
    <div class="card card-float">
        <div class="card-header">
            <h4>@Localization.CloudERP.Miscellaneous.SelectRangeFromDateAndToDate.ToString()</h4>
            <h5 class="text-danger">@ViewBag.JournalMessage</h5>
            <h3 class="text-danger">@ViewBag.Message</h3>
            <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SubJournal", "GeneralTransaction", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <label>@Localization.CloudERP.Miscellaneous.SelectFromDate.ToString()</label>
                        <input type="date" id="FromDate" name="FromDate" value="@DateTime.Now" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label>@Localization.CloudERP.Miscellaneous.SelectToDate.ToString()</label>
                        <input type="date" id="ToDate" name="ToDate" value="@DateTime.Now" class="form-control" required>
                    </div>
                </div>
                <br />
                <hr />
                <input type="submit" value="@Localization.CloudERP.Miscellaneous.RetrieveTransactions.ToString()" class="btn btn-success" style="float: right;">
            }
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">@Localization.CloudERP.Miscellaneous.Export.ToString()</div>
        <div class="text-sm">
            @Localization.CloudERP.Miscellaneous.Transactions.ToString()
        </div>
    </div>
    <div class="card-body">
        <table class="table my-4 w-100" id="datatable2">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Date.ToString()
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Account.ToString()
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Title.ToString()
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.InvoiceNo.ToString()
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Debit.ToString()
                    </th>
                    <th>
                        @Localization.CloudERP.Miscellaneous.Credit.ToString()
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (invoiceNo != item.InvoiceNo)
                    {
                        <tr style="background-color:aliceblue">
                            <td>
                                @Html.DisplayFor(modelItem => item.SNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransectionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountSubControl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransectionTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SNO)
                            </td>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountSubControl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransectionTitle)
                            </td>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                        </tr>
                    }
                    invoiceNo = item.InvoiceNo;
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable2').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 3 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>