@model Domain.Models.AccountSetting

@{
    ViewBag.Title = Localization.CloudERP.Account.NewAccountSetting.ToString();
}

<script src="~/Scripts/jQuery/jquery-3.7.1.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AccountHeadID, Localization.CloudERP.Account.SelectHeadAccount.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                    model => model.AccountHeadID,
                    ViewBag.AccountHeadList as SelectList,
                    Localization.CloudERP.Account.HeadAccount.ToString(),
                    new { @class = "form-control", @id = "AccountHeadID" }
                )
                @Html.ValidationMessageFor(model => model.AccountHeadID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountControlID, Localization.CloudERP.Account.SelectControlAccount.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                    model => model.AccountControlID,
                    ViewBag.AccountControlList as SelectList,
                    Localization.CloudERP.Account.ControlAccount.ToString(),
                    new { @class = "form-control", @id = "AccountControlID" }
                )
                @Html.ValidationMessageFor(model => model.AccountControlID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountSubControlID, Localization.CloudERP.Account.SelectSubControlAccount.ToString(), htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                    model => model.AccountSubControlID,
                    ViewBag.AccountSubControlList as SelectList,
                    Localization.CloudERP.Account.SubAccount.ToString(),
                    new { @class = "form-control", @id = "AccountSubControlID" }
                )
                @Html.ValidationMessageFor(model => model.AccountSubControlID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountActivityID, Localization.CloudERP.Account.SelectActivity.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(
                    model => model.AccountActivityID,
                    ViewBag.AccountActivityList as SelectList,
                    Localization.CloudERP.Account.Activity.ToString(),
                    new { @class = "form-control", @id = "AccountActivityID" }
                )
                @Html.ValidationMessageFor(model => model.AccountActivityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Localization.CloudERP.Common.Create.ToString()" class="btn btn-success" />
                @Html.ActionLink(Localization.CloudERP.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
