@model IEnumerable<Domain.Models.AccountSetting>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = Localization.CloudERP.Account.SetAccountingFlow;
}

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        @Html.ActionLink(Localization.CloudERP.Account.SetAccountingFlow, "Create", null, new { @style = "float:left;", @class = "btn btn-success" })
        <h2 class="text-danger">@ViewBag.Message</h2>
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.Raw(Localization.CloudERP.Account.Activity)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Account.HeadAccount)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Account.ControlAccount)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Account.SubAccount)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.User.FullName)
                        </th>
                        <th>
                            @Html.Raw(Localization.CloudERP.Common.Actions)
                        </th>
                    </tr>
                </thead>
                <tbody id="accountSettingList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountActivityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountHeadName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountControlName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountSubControlName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @if (!item.IsGlobal || HttpContextAccessor.HttpContext?.Session.GetInt32("UserTypeID") == 1)
                                {
                                    @Html.ActionLink(Localization.CloudERP.Common.Edit, "Edit", new { id = item.AccountSettingID }, new { @class = "btn btn-primary" })
                                }
                                else
                                {
                                    <i class="bi bi-ban"></i>
                                    <label class="text-danger"><b>&nbsp;Not Avaliable</b></label>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>
