@using Microsoft.AspNetCore.Localization
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var currentCulture = HttpContextAccessor.HttpContext?.Features.Get<IRequestCultureFeature>()?.RequestCulture.Culture.Name ?? "en-US";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>@ViewBag.Title</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/Template/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/Template/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/Template/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Template/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/Template/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Template/css/app.css" id="maincss">
    <!-- Bootgrid-->
    <link rel="stylesheet" href="~/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.css">
    <!-- Themes-->
    <link rel="stylesheet" href="~/js/Theme/dark-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shepherd.js/8.0.1/css/shepherd.css">
    <!-- Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper" id="step10">
            <!-- START Top Navbar-->
            <nav class="navbar topnavbar">
                <!-- START navbar header-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <div class="brand-logo">
                            <img class="img-fluid" src="@Url.Content(HttpContextAccessor.HttpContext?.Session.GetString("CLogo") ?? "~/CompanyLogo/erp-logo.png")" alt="App Logo" width="30" height="30">
                        </div>
                        <div class="brand-logo-collapsed">
                            <img class="img-fluid" src="@Url.Content(HttpContextAccessor.HttpContext?.Session.GetString("CLogo") ?? "~/CompanyLogo/erp-logo.png")" alt="App Logo" width="30" height="30">
                        </div>
                    </a>
                </div>
                <!-- END navbar header-->
                <!-- START Left navbar-->
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item" id="step1">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <em class="fa fa-navicon"></em>
                        </a>
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <em class="fa fa-navicon"></em>
                        </a>
                    </li>
                    <!-- START User avatar toggle-->
                    <li class="nav-item" id="step2">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link" id="user-block-toggle" href="#user-block" data-toggle="collapse">
                            <em class="icon-user"></em>
                        </a>
                    </li>
                    <!-- END User avatar toggle-->
                    <!-- START lock screen-->
                    <li class="nav-item" id="step3">
                        <a class="nav-link" href="@Url.Action("Logout", "Home")">
                            <em class="icon-lock"></em>
                        </a>
                    </li>
                    <!-- END lock screen-->
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->
                <ul class="navbar-nav flex-row">
                    <!-- START Fullscreen Mode-->
                    <li class="nav-item" id="step5">
                        <div class="nav-link container">
                            <i class="bi bi-fullscreen" id="fullscreenButton"></i>
                        </div>
                    </li>
                    <!-- END Fullscreen Mode-->
                    <!-- START Language list -->
                    <li class="nav-item dropdown" id="step6">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                            <form asp-controller="Home" asp-action="SetCulture" method="post" id="languageForm">
                                <div class="dropdown-item">
                                    <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                                    <select name="culture" class="custom-select" onchange="this.form.submit()">
                                        <option value="en-US" selected="@(currentCulture == "en-US")">English</option>
                                        <option value="uk-UA" selected="@(currentCulture == "uk-UA")">Українська</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- START Currency Dropdown -->
                    <li class="nav-item dropdown" id="step7">
                        <a class="nav-link dropdown-toggle" href="#" id="currencyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="currencyDropdown">
                            @using (Html.BeginForm("SetCurrency", "Currency", FormMethod.Post, new { @id = "currencyForm" }))
                            {
                                <div class="dropdown-item">
                                    <select id="currencySelect" class="custom-select" onchange="document.getElementById('currencyForm').submit()">
                                        @if (ViewBag.Currencies != null)
                                        {
                                            var selectedCurrency = HttpContextAccessor.HttpContext?.Session.GetString("SelectedCurrency");

                                            @foreach (var currency in ViewBag.Currencies)
                                            {
                                                bool isSelected = currency.Key == selectedCurrency;

                                                <option value="@currency.Key" selected="@(isSelected ? "selected" : null)">
                                                    @currency.Key (@currency.Value)
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            }
                        </div>
                    </li>
                    <!-- END Currency Dropdown -->
                    <!-- END Language list -->
                    <li class="nav-item" id="step8">
                        <div class="nav-link container">
                            <i class="bi bi-person-walking" onclick="startTour()"></i>
                        </div>
                    </li>
                </ul>
                <!-- END Right Navbar-->
            </nav>
            <!-- END Top Navbar-->
        </header>
        <!-- sidebar-->
        <aside class="aside-container" id="step9">
            <!-- START Sidebar (left)-->
            <div class="aside-inner">
                <nav class="sidebar" data-sidebar-anyclick-close="">
                    <!-- START sidebar nav-->
                    <ul class="sidebar-nav">
                        <!-- START user info-->
                        <li class="has-user-block">
                            <div class="collapse" id="user-block">
                                <div class="item user-block">
                                    <!-- User picture-->
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            @{
                                                string userImg = string.Empty;
                                                if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext?.Session.GetString("EPhoto")))
                                                {
                                                    userImg = "~/Template/img/user-default-img.png";
                                                }
                                                else
                                                {
                                                    userImg = HttpContextAccessor.HttpContext.Session.GetString("EPhoto") ?? "";
                                                }
                                            }
                                            <img class="img-thumbnail rounded-circle" src="@Url.Content(HttpContextAccessor.HttpContext?.Session.GetString("EPhoto") ?? "~/Template/img/user-default-img.png")" alt="Avatar" width="60" height="60">
                                            <div class="circle bg-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <!-- Name and Job-->
                                    <div class="user-block-info">
                                        <span class="user-block-name">
                                            @Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Hello) @HttpContextAccessor.HttpContext?.Session.GetString("UserName") </ span >
                                        <span class="user-block-role">@HttpContextAccessor.HttpContext?.Session.GetString("Designation")</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END user info-->
                        @{
                            if (HttpContextAccessor.HttpContext?.Session.GetInt32("UserTypeID") != null)
                            {
                                var userType = HttpContextAccessor.HttpContext?.Session.GetInt32("UserTypeID");
                                if (HttpContextAccessor.HttpContext?.Session.GetInt32("BranchTypeID") != null)
                                {
                                    <!-- Iterates over all sidebar items-->

                                    @*Configuration*@
                                    @*Admin*@
                                    if (userType == 1)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Home</span>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("AdminMenuGuide", "Guide")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide">
                                                <em class="bi bi-info-circle"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Task")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksList">
                                                <em class="bi bi-list-task"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksList)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Analytics")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SystemAnalytics">
                                                <em class="bi bi-graph-up-arrow"></em>
                                                <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SystemAnalytics)</span>
                                            </a>
                                        </li>

                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.UserSetting</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "UserType")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.UserTypes">
                                                <em class="bi bi-person-fill-gear"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.UserTypes)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "User")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Users">
                                                <em class="bi bi-person-fill"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Users)</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Companies</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Company")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Companies">
                                                <em class="bi bi-building"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Companies)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("RegistrationForm", "CompanyRegistration")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.CompanyRegistration">
                                                <em class="bi bi-building-add"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.CompanyRegistration)</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Branchs</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "BranchType")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchTypes">
                                                <em class="bi bi-bezier2"></em>
                                                <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchTypes)</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Employees</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Employees", "CompanyEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration">
                                                <em class="bi bi-person-add h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration)</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.MainAccountSettings</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "AccountHead")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountHeads">
                                                <em class="bi bi-lightbulb-fill mb-2"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountHeads)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "AccountActivity")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountActivities">
                                                <em class="bi bi-universal-access-circle mb-2"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountActivities)</span>
                                            </a>
                                        </li>
                                    }
                                    @*User*@
                                    if (userType == 2)
                                    {
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.HEADER">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Home</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Home")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.DashboardTitle">
                                                <em class="bi bi-speedometer2 h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.DashboardTitle)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Forecasting")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Forecasting">
                                                <em class="bi bi-clipboard-data h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Forecasting)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Task")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksList">
                                                <em class="bi bi-list-task h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksList)</span>
                                            </a>
                                        </li>
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SubBranchs</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Branch")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Branches">
                                                <em class="bi bi-diagram-2 h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Branches)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("SubBranchUser", "User")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Users">
                                                <em class="bi bi-person-fill h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Users)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("BranchesMap", "Branch")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchesMap">
                                                <em class="bi bi-compass h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchesMap)</span>
                                            </a>
                                        </li>

                                        var branchTypeID = HttpContextAccessor.HttpContext?.Session.GetInt32("BranchTypeID");
                                        @*Main Branch*@
                                        if (branchTypeID == 1)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "EmployeeStatistics")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeStatistics">
                                                    <em class="bi bi-bar-chart-fill h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeStatistics)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AssignTask", "Task")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksAssigment">
                                                    <em class="bi bi bi-person-fill-check h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TasksAssigment)</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("MainBranchEmployeeGuide", "Guide")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide">
                                                    <em class="bi bi-info-circle h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide)</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Branchs</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Create", "Branch")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewBranch">
                                                    <em class="bi bi-diagram-2 h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewBranch)</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Employees</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Employee", "BranchEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration">
                                                    <em class="bi bi-person-add h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Payroll">
                                                    <em class="bi bi-coin h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Payroll)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PaidSalariesHistory">
                                                    <em class="bi bi-cash-stack h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PaidSalariesHistory)</span>
                                                </a>
                                            </li>
                                        }
                                        if (branchTypeID > 1)
                                        {
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeGuide", "Guide")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide">
                                                    <em class="bi bi-info-circle h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Guide)</span>
                                                </a>
                                            </li>
                                            <li class="nav-heading ">
                                                <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Employees</span>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Employee", "BranchEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration">
                                                    <em class="bi bi-person-add h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.EmployeeRegistration)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("EmployeeSalary", "CompanyEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Payroll">
                                                    <em class="bi bi-coin h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Payroll)</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("SalaryHistory", "CompanyEmployee")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PaidSalariesHistory">
                                                    <em class="bi bi-cash-stack h4 mb-0"></em>
                                                    <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PaidSalariesHistory)</span>
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-heading ">
                                            <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Stocks</span>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Category")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.StockCategories">
                                                <em class="bi bi-inboxes-fill h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.StockCategories)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Stock")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.StockDetails">
                                                <em class="bi bi-boxes h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.StockDetails)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ProductQuality", "Stock")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ProductQuality">
                                                <em class="bi bi-battery-half h4 mb-0"></em>
                                                <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ProductQuality)</span>
                                            </a>
                                        </li>
                                    }
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountSettings</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountControl")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountControls">
                                            <em class="bi bi-gear-wide h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountControls)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountSubControl")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountSubControls">
                                            <em class="bi bi-gear-wide-connected h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountSubControls)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "AccountSetting")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountFlow">
                                            <em class="bi bi-person-lines-fill h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountFlow)</span>
                                        </a>
                                    </li>
                                }

                                if (userType == 1)
                                {
                                    <li class="nav-heading ">
                                        <span>@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.FinancialYear)</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "FinancialYear")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.FinancialYear">
                                            <em class="bi bi-cash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.FinancialYear)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Create", "FinancialYear")" title="@Localization.CloudERP.Modules.Financial.Financial.NewFinancialYear">
                                            <em class="bi bi-cash-coin h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Financial.Financial.NewFinancialYear)</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 2)
                                {
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.FinancialYear</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "FinancialYearView")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllFinancialYears">
                                            <em class="bi bi-calendar3 h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllFinancialYears)</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Customers</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Customer")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewCustomer">
                                            <em class="bi bi-person-fill-add h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewCustomer)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Customer")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchCustomers">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BranchCustomers)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SubBranchCustomer", "Customer")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SubBranchCustomersNavlink">
                                            <em class="bi bi-cart-check h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SubBranchCustomersNavlink)</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Sales</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("NewSale", "SaleCart")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewSale">
                                            <em class="bi bi-bag-plus h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewSale)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("RemainingPaymentList", "SalePayment")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SalePendingPayment">
                                            <em class="bi bi-paypal h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SalePendingPayment)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CustomSalesHistory", "SalePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllSales">
                                            <em class="bi bi-card-checklist h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllSales)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FindSale", "SaleReturn")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SaleReturn">
                                            <em class="bi bi-bag-dash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.SaleReturn)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AllReturnSalesPendingAmount", "SalePaymentReturn")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ReturnSalesPendingAmount">
                                            <em class="bi bi-wallet-fill h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ReturnSalesPendingAmount)</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AllCustomers", "Customer")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllCustomers">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllCustomers)</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Suppliers</span>
                                </li>
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Supplier")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewSupplier">
                                            <em class="bi bi-umbrella h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewSupplier)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Supplier")" title="@Localization.CloudERP.Modules.Supplier.Supplier.BranchSuppliers">
                                            <em class="bi bi-truck h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Supplier.Supplier.BranchSuppliers)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SubBranchSupplier", "Supplier")" title="@Localization.CloudERP.Modules.Supplier.Supplier.SubBranchSuppliers">
                                            <em class="bi bi-truck-front h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(@Localization.CloudERP.Modules.Supplier.Supplier.SubBranchSuppliers)</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Purchases</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("NewPurchase", "PurchaseCart")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewPurchase">
                                            <em class="bi bi-cart-plus h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.NewPurchase)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("RemainingPaymentList", "PurchasePayment")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PurchasePendingPayment">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PurchasePendingPayment)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CustomPurchasesHistory", "PurchasePayment", new { FromDate = DateTime.Now, ToDate = DateTime.Now })" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllPurchases">
                                            <em class="bi bi-cart h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllPurchases)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FindPurchase", "PurchaseReturn")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PurchasesReturn">
                                            <em class="bi bi-cart-dash h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PurchasesReturn)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AllPurchasesPendingPayment", "PurchasePaymentReturn")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ReturnPaymentPending">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.ReturnPaymentPending)</span>
                                        </a>
                                    </li>
                                    <li class="nav-heading ">
                                        <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Transactions</span>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GeneralTransaction", "GeneralTransaction", new { transaction = new CloudERP.Models.GeneralTransactionMV() { CreditAccountControlID = 0, DebitAccountControlID = 0, TransferAmount = 0 } })" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.GeneralTransaction">
                                            <em class="bi bi-briefcase h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.GeneralTransaction)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Journal", "GeneralTransaction")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Journal">
                                            <em class="bi bi-journal-bookmark h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Journal)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetLedger", "Ledger")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountsLedger">
                                            <em class="bi bi-book-half h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AccountsLedger)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetTrialBalance", "TrialBalance")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TrialBalance">
                                            <em class="bi bi-currency-dollar h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TrialBalance)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetIncomeStatement", "IncomeStatement")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.IncomeStatement">
                                            <em class="bi bi-currency-exchange h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.IncomeStatement)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("GetBalanceSheet", "BalanceSheet")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BalanceSheet">
                                            <em class="bi bi-file-earmark-spreadsheet h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.BalanceSheet)</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AllSuppliers", "Supplier")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllSuppliers">
                                            <em class="bi bi-minecart-loaded h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.AllSuppliers)</span>
                                        </a>
                                    </li>
                                }
                                <li class="nav-heading ">
                                    <span data-localize="sidebar.heading.COMPONENTS">@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.License</span>
                                </li>
                                if (userType == 1)
                                {
                                    <li>
                                        <a href="@Url.Action("AdminList", "Support")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TicketList">
                                            <em class="bi bi-hammer h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.TicketList)</span>
                                        </a>
                                    </li>
                                }
                                if (userType == 2)
                                {
                                    <li>
                                        <a href="@Url.Action("Support", "Support")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Support">
                                            <em class="bi bi-hammer h4 mb-0"></em>
                                            <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.Support))</span>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("PrivacyPolicy", "Guide")" title="@Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PrivacyPolicy">
                                        <em class="bi bi-sourceforge h4 mb-0"></em>
                                        <span class="align-middle">@Html.Raw(Localization.CloudERP.Modules.Miscellaneous.Miscellaneous.PrivacyPolicy)</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <!-- END sidebar nav-->
                </nav>
            </div>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    @ViewBag.Title
                </div>
                <div>
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Page footer-->
        <footer class="footer-container">
            <span>&copy; @DateTime.Now.ToString("yyyy") - Kuvaiev Inc</span>
        </footer>
    </div>
    @{
        bool.TryParse(HttpContextAccessor.HttpContext?.Session.GetString("StartTour"), out bool startTour);
        HttpContextAccessor.HttpContext?.Session.SetString("StartTour", "false");
    }
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Template/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Template/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/Template/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/Template/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/Template/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/Template/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Bootgrid-->
    <script src="~/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.js"></script>
    <script src="~/Template/vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js"></script>
    <!-- JQUERY VALIDATE-->
    <script src="~/Template/vendor/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Template/vendor/jquery-validation/dist/additional-methods.js"></script>
    <!-- JQUERY STEPS-->
    <script src="~/Template/vendor/jquery-steps/build/jquery.steps.js"></script>
    <!-- Datatables-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shepherd.js/8.0.1/js/shepherd.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
    <!-- Themes-->
    <!-- <script src="~/js/Theme/theme-switcher.js"></script> -->
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Template/js/app.js"></script>
    <script src="~/js/CustomScripts/FullscreenMode.js"></script>
    <script src="~/js/CustomScripts/Tour.js"></script>
    <script>
        $(document).ready(function () {
            if (@startTour.ToString().ToLower()) {
                startTour();
            }
        });
    </script>
</body>
</html>