@model Domain.Models.CustomerInvoice
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Localization.CloudERP.Modules.Miscellaneous
@using Localization.CloudERP.Modules.Sale
@using Localization.CloudERP.Common
@{
    ViewBag.Title = Sale.SearchSaleByInvoiceNo;
}

@using (Html.BeginForm("FindSale", "SaleReturn", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5 class="text-danger">@ViewBag.Message</h5>
        <h5 class="text-danger">@ViewBag.ErrorMessage</h5>

        <div class="form-group">
            <label for="invoiceID" class="control-label col-md-4">@Sale.EnterSaleInvoice №</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="invoiceID" name="invoiceID" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Sale.FindSale" class="btn btn-success" />
            </div>
        </div>
    </div>
 }

@if (Model != null && Model.InvoiceNo != null)
{
    using (Html.BeginForm("ReturnConfirm", "SaleReturn", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="CustomerInvoiceID" value="@Model.CustomerInvoiceID" />

        <div class="card mt-4">
            <div class="card-header">
                <h3>@Sale.Invoice №: @Model.InvoiceNo</h3>
                <h3 class="text-danger">@HttpContextAccessor.HttpContext?.Session.GetString("SaleReturnMessage")</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>@Sale.Company:</h4>
                        <p>@Model.CompanyName - @Model.BranchName</p>
                        <p>@Localization.CloudERP.Modules.Supplier.Supplier.Address: @Model.BranchAddress</p>
                        <p>@Localization.CloudERP.Modules.User.User.ContactNo: @Model.BranchContact</p>
                    </div>
                    <div class="col-md-6">
                        <h4>@Sale.Customer:</h4>
                        <p>@Model.Customername</p>
                        <p>@Localization.CloudERP.Modules.Supplier.Supplier.Address: @Model.CustomerAddress</p>
                        <p>@Localization.CloudERP.Modules.User.User.ContactNo: @Model.CustomerContact</p>
                    </div>
                </div>

                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th>@Sale.Product</th>
                            <th>@Sale.SaleQty</th>
                            <th>@Sale.ReturnQty</th>
                            <th>@Sale.UnitPrice</th>
                            <th>@Miscellaneous.ItemCost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < ViewBag.InvoiceDetails.Count; i++)
                        {
                            var item = ViewBag.InvoiceDetails[i];
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Qty</td>
                                <td>
                                    <input type="hidden" name="ProductReturns[@i].ProductID" value="@item.ProductID" />
                                    <input type="number" class="form-control" name="ProductReturns[@i].ReturnQty" value="0" min="0" max="@item.Qty" />
                                </td>
                                <td>@item.SaleUnitPrice.ToString("F2")</td>
                                <td>@item.ItemCost.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="IsPayment" name="IsPayment" />
                    <label class="form-check-label" for="IsPayment">@Sale.IsReturnSalePaymentPaid</label>
                </div>

                <button type="submit" class="btn btn-success mt-3">@Sale.SubmitReturn</button>
            </div>
        </div>
    }
}
