@model IEnumerable<Domain.Models.FinancialModels.SalePaymentModel>

@{
    ViewBag.Title = Localization.CloudERP.Sale.AllReturnSalesAmountPending.ToString();
}

<!-- Tables Sorting-->
<link href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jQuery/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-header">
        <h5 style="float:left;">@Session["ReturnMessage"]</h5>
        <h3 class="text-danger">@ViewBag.Message</h3>
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Localization.CloudERP.Sale.Customer.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.ContactNo.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.InvoiceNo.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.Date.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.SaleTotalAmount.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.ReturnProductsTotalAmount.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.AfterReturnSaleTotalAmount.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.PaidAmount.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.PaymentToCustomer.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Sale.RemainingBalance.ToString()
                        </th>
                        <th>
                            @Localization.CloudERP.Common.Actions.ToString()
                        </th>
                    </tr>
                </thead>
                <tbody id="paymentList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnProductAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AfterReturnTotalAmount)
                            </td>
                            <td>
                                @{
                                    if (item.PaymentAmount == 0)
                                    {
                                        @Html.ActionLink(Localization.CloudERP.Sale.SetPaid.ToString(), "PaidAmount", "SalePayment", new { id = item.CustomerInvoiceID }, new { @class = "text-success" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.PaymentAmount)
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnPaymentAmount)
                            </td>
                            <td>
                                @{
                                    if (item.RemainingBalance == 0 && item.PaymentAmount != 0)
                                    {
                                        <em class="icon-check">
                                            <label class="text-success">@Localization.CloudERP.Sale.Clear.ToString()</label>
                                        </em>
                                    }
                                    else if (item.RemainingBalance < 0)
                                    {
                                        @Html.ActionLink(item.RemainingBalance.ToString("F2"), "ReturnSalePendingAmount", "SalePaymentReturn", new { @id = item.CustomerInvoiceID }, new { @class = "btn btn-outline-danger btn-lg" })
                                    }
                                    else
                                    {
                                        <label>@(item.TotalAmount - item.PaymentAmount)</label>
                                    }
                                }
                            </td>
                            <td class="d-flex flex-column align-items-start">
                                @{
                                    if (item.RemainingBalance < item.TotalAmount && item.PaymentAmount != 0)
                                    {
                                        @Html.ActionLink(Localization.CloudERP.Sale.PayHistory.ToString(), "PaidHistory", "SalePayment", new { id = item.CustomerInvoiceID }, new { @class = "btn btn-primary" })
                                    }
                                    else
                                    {
                                        <em class="icon-book-open">
                                            <label class="text-danger"><b>@Localization.CloudERP.Sale.NoHistory.ToString()</b></label>
                                        </em>
                                        <br />
                                    }
                                    @Html.ActionLink(Localization.CloudERP.Sale.ViewDetails.ToString(), "SaleItemDetail", "SalePayment", new { id = item.CustomerInvoiceID }, new { @class = "btn btn-info" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": 10 }],
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>