@{
    ViewBag.Title = Resources.PrivacyPolicy.PrivacyPolicyTitle.ToString();
}

<body>
    <div class="container">
        <p><strong>@Resources.PrivacyPolicy.EffectiveDate</strong> @DateTime.Now.ToString("MMMM dd, yyyy")</p>

        <h2>@Resources.PrivacyPolicy.IntroductionTitle</h2>
        <p>@Resources.PrivacyPolicy.IntroductionText</p>

        <h2>@Resources.PrivacyPolicy.InformationWeCollectTitle</h2>
        <p>@Resources.PrivacyPolicy.InformationWeCollectText</p>
        <ul>
            <li><strong>@Resources.PrivacyPolicy.PersonalInformationTitle:</strong> @Resources.PrivacyPolicy.PersonalInformationText</li>
            <li><strong>@Resources.PrivacyPolicy.AccountInformationTitle:</strong> @Resources.PrivacyPolicy.AccountInformationText</li>
            <li><strong>@Resources.PrivacyPolicy.FinancialInformationTitle:</strong> @Resources.PrivacyPolicy.FinancialInformationText</li>
            <li><strong>@Resources.PrivacyPolicy.UsageDataTitle:</strong> @Resources.PrivacyPolicy.UsageDataText</li>
            <li><strong>@Resources.PrivacyPolicy.CookiesTitle:</strong> @Resources.PrivacyPolicy.CookiesText</li>
        </ul>

        <h2>@Resources.PrivacyPolicy.HowWeUseInformationTitle</h2>
        <p>@Resources.PrivacyPolicy.HowWeUseInformationText</p>
        <ul>
            <li><strong>@Resources.PrivacyPolicy.ProvideServicesTitle:</strong> @Resources.PrivacyPolicy.ProvideServicesText</li>
            <li><strong>@Resources.PrivacyPolicy.ImproveServicesTitle:</strong> @Resources.PrivacyPolicy.ImproveServicesText</li>
            <li><strong>@Resources.PrivacyPolicy.CommunicateTitle:</strong> @Resources.PrivacyPolicy.CommunicateText</li>
            <li><strong>@Resources.PrivacyPolicy.SecurityTitle:</strong> @Resources.PrivacyPolicy.SecurityText</li>
            <li><strong>@Resources.PrivacyPolicy.LegalObligationsTitle:</strong> @Resources.PrivacyPolicy.LegalObligationsText</li>
        </ul>

        <h2>@Resources.PrivacyPolicy.SharingInformationTitle</h2>
        <p>@Resources.PrivacyPolicy.SharingInformationText</p>
        <ul>
            <li><strong>@Resources.PrivacyPolicy.ServiceProvidersTitle:</strong> @Resources.PrivacyPolicy.ServiceProvidersText</li>
            <li><strong>@Resources.PrivacyPolicy.AffiliatesTitle:</strong> @Resources.PrivacyPolicy.AffiliatesText</li>
            <li><strong>@Resources.PrivacyPolicy.LegalReasonsTitle:</strong> @Resources.PrivacyPolicy.LegalReasonsText</li>
        </ul>

        <h2>@Resources.PrivacyPolicy.DataSecurityTitle</h2>
        <p>@Resources.PrivacyPolicy.DataSecurityText</p>

        <h2>@Resources.PrivacyPolicy.DataRetentionTitle</h2>
        <p>@Resources.PrivacyPolicy.DataRetentionText</p>

        <h2>@Resources.PrivacyPolicy.YourRightsTitle</h2>
        <p>@Resources.PrivacyPolicy.YourRightsText</p>
        <ul>
            <li><strong>@Resources.PrivacyPolicy.AccessTitle:</strong> @Resources.PrivacyPolicy.AccessText</li>
            <li><strong>@Resources.PrivacyPolicy.CorrectionTitle:</strong> @Resources.PrivacyPolicy.CorrectionText</li>
            <li><strong>@Resources.PrivacyPolicy.DeletionTitle:</strong> @Resources.PrivacyPolicy.DeletionText</li>
            <li><strong>@Resources.PrivacyPolicy.ObjectionTitle:</strong> @Resources.PrivacyPolicy.ObjectionText</li>
            <li><strong>@Resources.PrivacyPolicy.DataPortabilityTitle:</strong> @Resources.PrivacyPolicy.DataPortabilityText</li>
        </ul>
        <p>@Resources.PrivacyPolicy.ContactUsText +380111111111.</p>

        <h2>@Resources.PrivacyPolicy.ChangesTitle</h2>
        <p>@Resources.PrivacyPolicy.ChangesText</p>

        <h2>@Resources.PrivacyPolicy.ContactUsTitle</h2>
        <p>@Resources.PrivacyPolicy.ContactUsText</p>
        <p style="display: flex; align-items: center;">
            <img src="~/Content/CompanyLogo/erp-logo.png" alt="ERP Logo" class="img-fluid" style="max-width: 50px; height: auto; margin-right: 10px;" />
            <strong>Cloud ERP</strong>
        </p>
        <p>
            Email: <a href="mailto:clouderp@gmail.com">clouderp@gmail.com</a><br />
            Phone: +380111111111
        </p>
    </div>
</body>