@{
    ViewBag.Title = Localization.CloudERP.Modules.Guide.Guide.PrivacyPolicyTitle.ToString();
}

<body>
    <div class="container">
        <p><strong>@Localization.CloudERP.Modules.Guide.Guide.EffectiveDate</strong> @DateTime.Now.ToString("MMMM dd, yyyy")</p>

        <p>@Localization.CloudERP.Modules.Guide.Guide.IntroductionText</p>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.InformationWeCollectTitle</h2>
        <ul>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.PersonalInformationTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.PersonalInformationText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.AccountInformationTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.AccountInformationText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.CookiesTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.CookiesText</li>
        </ul>

        <p>@Localization.CloudERP.Modules.Guide.Guide.HowWeUseInformationText</p>
        <ul>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.ProvideServicesTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.ProvideServicesText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.CommunicateTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.CommunicateText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.SecurityTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.SecurityText</li>
        </ul>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.SharingInformationTitle</h2>
        <p>@Localization.CloudERP.Modules.Guide.Guide.SharingInformationText</p>
        <ul>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.ServiceProvidersTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.ServiceProvidersText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.AffiliatesTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.AffiliatesText</li>
        </ul>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.DataSecurityTitle</h2>
        <p>@Localization.CloudERP.Modules.Guide.Guide.DataSecurityText</p>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.DataRetentionTitle</h2>
        <p>@Localization.CloudERP.Modules.Guide.Guide.DataRetentionText</p>

        <ul>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.AccessTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.AccessText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.CorrectionTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.CorrectionText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.DeletionTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.DeletionText</li>
            <li><strong>@Localization.CloudERP.Modules.Guide.Guide.DataPortabilityTitle:</strong> @Localization.CloudERP.Modules.Guide.Guide.DataPortabilityText</li>
        </ul>
        <p>@Localization.CloudERP.Modules.Guide.Guide.ContactUsText +380111111111.</p>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.ChangesTitle</h2>
        <p>@Localization.CloudERP.Modules.Guide.Guide.ChangesText</p>

        <h2>@Localization.CloudERP.Modules.Guide.Guide.ContactUsTitle</h2>
        <p>@Localization.CloudERP.Modules.Guide.Guide.ContactUsText</p>
        <p style="display: flex; align-items: center;">
            <img src="~/CompanyLogo/erp-logo.png" alt="ERP Logo" class="img-fluid" style="max-width: 50px; height: auto; margin-right: 10px;" />
            <strong>Cloud ERP</strong>
        </p>
        <p>
            Email: <a href="mailto:clouderp@gmail.com">clouderp@gmail.com</a><br />
            Phone: +380111111111
        </p>
    </div>
</body>