@{
    ViewBag.Title = Resources.Guide.PrivacyPolicyTitle.ToString();
}

<body>
    <div class="container">
        <p><strong>@Resources.Guide.EffectiveDate</strong> @DateTime.Now.ToString("MMMM dd, yyyy")</p>

        <h2>@Resources.Guide.IntroductionTitle</h2>
        <p>@Resources.Guide.IntroductionText</p>

        <h2>@Resources.Guide.InformationWeCollectTitle</h2>
        <p>@Resources.Guide.InformationWeCollectText</p>
        <ul>
            <li><strong>@Resources.Guide.PersonalInformationTitle:</strong> @Resources.Guide.PersonalInformationText</li>
            <li><strong>@Resources.Guide.AccountInformationTitle:</strong> @Resources.Guide.AccountInformationText</li>
            <li><strong>@Resources.Guide.FinancialInformationTitle:</strong> @Resources.Guide.FinancialInformationText</li>
            <li><strong>@Resources.Guide.UsageDataTitle:</strong> @Resources.Guide.UsageDataText</li>
            <li><strong>@Resources.Guide.CookiesTitle:</strong> @Resources.Guide.CookiesText</li>
        </ul>

        <h2>@Resources.Guide.HowWeUseInformationTitle</h2>
        <p>@Resources.Guide.HowWeUseInformationText</p>
        <ul>
            <li><strong>@Resources.Guide.ProvideServicesTitle:</strong> @Resources.Guide.ProvideServicesText</li>
            <li><strong>@Resources.Guide.ImproveServicesTitle:</strong> @Resources.Guide.ImproveServicesText</li>
            <li><strong>@Resources.Guide.CommunicateTitle:</strong> @Resources.Guide.CommunicateText</li>
            <li><strong>@Resources.Guide.SecurityTitle:</strong> @Resources.Guide.SecurityText</li>
            <li><strong>@Resources.Guide.LegalObligationsTitle:</strong> @Resources.Guide.LegalObligationsText</li>
        </ul>

        <h2>@Resources.Guide.SharingInformationTitle</h2>
        <p>@Resources.Guide.SharingInformationText</p>
        <ul>
            <li><strong>@Resources.Guide.ServiceProvidersTitle:</strong> @Resources.Guide.ServiceProvidersText</li>
            <li><strong>@Resources.Guide.AffiliatesTitle:</strong> @Resources.Guide.AffiliatesText</li>
            <li><strong>@Resources.Guide.LegalReasonsTitle:</strong> @Resources.Guide.LegalReasonsText</li>
        </ul>

        <h2>@Resources.Guide.DataSecurityTitle</h2>
        <p>@Resources.Guide.DataSecurityText</p>

        <h2>@Resources.Guide.DataRetentionTitle</h2>
        <p>@Resources.Guide.DataRetentionText</p>

        <h2>@Resources.Guide.YourRightsTitle</h2>
        <p>@Resources.Guide.YourRightsText</p>
        <ul>
            <li><strong>@Resources.Guide.AccessTitle:</strong> @Resources.Guide.AccessText</li>
            <li><strong>@Resources.Guide.CorrectionTitle:</strong> @Resources.Guide.CorrectionText</li>
            <li><strong>@Resources.Guide.DeletionTitle:</strong> @Resources.Guide.DeletionText</li>
            <li><strong>@Resources.Guide.ObjectionTitle:</strong> @Resources.Guide.ObjectionText</li>
            <li><strong>@Resources.Guide.DataPortabilityTitle:</strong> @Resources.Guide.DataPortabilityText</li>
        </ul>
        <p>@Resources.Guide.ContactUsText +380111111111.</p>

        <h2>@Resources.Guide.ChangesTitle</h2>
        <p>@Resources.Guide.ChangesText</p>

        <h2>@Resources.Guide.ContactUsTitle</h2>
        <p>@Resources.Guide.ContactUsText</p>
        <p style="display: flex; align-items: center;">
            <img src="~/Content/CompanyLogo/erp-logo.png" alt="ERP Logo" class="img-fluid" style="max-width: 50px; height: auto; margin-right: 10px;" />
            <strong>Cloud ERP</strong>
        </p>
        <p>
            Email: <a href="mailto:clouderp@gmail.com">clouderp@gmail.com</a><br />
            Phone: +380111111111
        </p>
    </div>
</body>