@model IEnumerable<DatabaseAccess.Models.PurchasePaymentModel>

@{
    ViewBag.Title = Resources.Miscellaneous.AllReturnPurchasesPendingReturnPayment.ToString();
}

<!-- Tables Sorting-->
<link href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

<style>
    #dataTable_filter input[type="search"] {
        width: 15rem;
    }
</style>

<div class="card card-default col-md-12">
    <div class="card-body">
        <div class="table-responsive bootgrid">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            @Resources.Miscellaneous.Supplier.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.ContactNo.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.InvoiceNo.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.Date.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.TotalAmount.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.ReturnProductsTotalAmount.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.AfterReturnTotalAmount.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.PaidAmount.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.PaymentAmount.ToString()
                        </th>
                        <th>
                            @Resources.Miscellaneous.RemainingBalance.ToString()
                        </th>
                        <th>
                            @Resources.Common.Actions.ToString()
                        </th>
                    </tr>
                </thead>
                <tbody id="paymentList">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnProductAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AfterReturnTotalAmount)
                            </td>
                            <td>
                                @{
                                    if (item.PaymentAmount == 0 && item.AfterReturnTotalAmount > 0)
                                    {
                                        @Html.ActionLink(Resources.Miscellaneous.SetPayment.ToString(), "PaidAmount", "PurchasePayment", new { id = item.SupplierInvoiceID }, new { @class = "text-success" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.PaymentAmount)
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReturnPaymentAmount)
                            </td>
                            <td>
                                @Html.ActionLink(item.RemainingBalance.ToString("F2"), "ReturnPurchasePendingAmount", "PurchasePaymentReturn", new { @id = item.SupplierInvoiceID }, new { @class = "btn btn-outline-danger btn-lg" })
                            </td>
                            <td class="btn-group d-flex flex-column">
                                @{
                                    if (item.RemainingBalance < item.TotalAmount && item.PaymentAmount != 0)
                                    {
                                        @Html.ActionLink(Resources.Miscellaneous.PayHistory.ToString(), "PaidHistory", "PurchasePayment", new { id = item.SupplierInvoiceID }, new { @class = "btn btn-primary mb-2" });
                                    }
                                    else
                                    {
                                        <em class="icon-book-open">
                                            <label class="text-danger"><b>@Resources.Miscellaneous.NoHistory.ToString()</b></label>
                                        </em>
                                    }
                                }
                                @Html.ActionLink(Resources.Miscellaneous.ViewDetails.ToString(), "PurchaseItemDetail", "PurchasePayment", new { id = item.SupplierInvoiceID }, new { @class = "btn btn-info mt-2 mb-2" });
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[5, 10, 25, 50, 75, 100, 150, 200, -1], [5, 10, 25, 50, 75, 100, 150, 200, "All"]],
        });
    });
</script>